<!--{template common/header_simple}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.min.css">
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<script src="user/scripts/register.js?{VARHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<!--{template common/beijing}-->
<style>
.signin-form .has-feedback {
    position: relative;
}
.signin-form .has-feedback .form-control {
    padding-left: 36px;
}
.signin-form .has-feedback .mdi {
    position: absolute;
    top: 0;
    left: 5px;
    right: auto;
    width: 26px;
    height: 36px;
    line-height: 36px;
    z-index: 4;
    color: #dcdcdc;
    display: block;
    text-align: center;
    pointer-events: none;
}
	html, body{
		overflow:auto;
	}
	<!--{if $_G[setting][loginset][transparency]}-->
	.card{
		background-color:$_G[setting][loginset][transparency];
	}
	.card:hover{
		background-color:$_G[setting][loginset][transparency];
	}
	<!--{/if}-->
</style>
<body class="center-vh">
<div class="card card-shadowed p-5 mb-0 mr-2 ml-2" id="register_form">
  <div class="text-center mb-3">
		<img alt="light year admin" src="{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}" style="max-height: 60px;">
		<h1>{lang register_welcome_tip}</h1>
  </div>
  <form action="{MOD_URL}" method="post" class="signin-form needs-validation" name="registerform" id="registerform" role="form" enctype="multipart/form-data" onsubmit="check_submit(this);return false">
		<input type="hidden" name="regsubmit" value="yes"/>
    <input type="hidden" name="formhash" value="{FORMHASH}"/>
    <input type="hidden" name="referer" value="$referer"/>
    <input type="hidden" name="handlekey" value="$_GET[handlekey]"/>
		<!--{if $_GET[action] != 'activation'}-->
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-mail" aria-hidden="true"></span>
      <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="{lang register_email_tips}" required/>
      <span id="chk_email" class="help-msg text-danger"></span> 
    </div>
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-account" aria-hidden="true"></span>
      <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="{lang username}" required/>
      <span id="chk_username" class="help-msg text-danger"></span>
    </div>
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
      <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="{lang register_password_tips}" required/>
      <span id="chk_password" class="help-msg text-danger"></span> 
    </div>
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
      <input type="password" class="form-control" id="password2" name="password2" autocomplete="off" placeholder="{lang register_repassword_tips}" required>
      <span id="chk_password2" class="help-msg text-danger"></span> 
    </div>
    <!--{/if}-->
    <!--{if $seccodecheck}-->
		<div class="mb-3">
    <!--{template common/seccheck}--> 
    </div>
    <!--{/if}-->
		<!--{if $bbrules}-->
    <div class="form-row bottom">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="agreebbrule" value="$bbrulehash" id="agreebbrule" checked="checked" />
        <label>{lang agree}</label>
				<a class="forgot" href="javascript:;" onclick="showWindow('bbrule','{MOD_URL}&op=ajax&do=bbrule')">{lang rulemessage}</a> 
      </div>
    </div>
    <!--{/if}-->
    <div class="mb-3 d-grid">
      <button class="btn btn-round btn-primary" type="submit" name="loginsubmit" value="true"><!--{if $_GET[action] == 'activation'}-->{lang activation}<!--{else}-->$_G[setting][reglinkname]<!--{/if}--></button>
			<a onclick="try{_login.logging();}catch(e){location.href='user.php?mod=login'}" class="btn btn-round btn-danger">{lang back_login}</a>
    </div>
    <p class="text-danger text-center" id="returnmessage4"></p>
  </form>    
  <p class="text-center text-muted mb-0"><!--{template common/copyright}--></p>
</div>
<script type="text/javascript">
	var lastusername = '', lastpassword = '', lastemail = '', lastinvitecode = '', stmp = new Array(), modifypwd = false;
	var ignoreEmail = false;
	var strongpw = new Array();
	<!--{if $_G['setting']['strongpw']}-->
		<!--{loop $_G['setting']['strongpw'] $key $val}-->
			strongpw[$key] = $val;
		<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
	
	jQuery(document).ready(function (e) {
	
		addFormEvent('registerform',1);
		if (jQuery('.ie8,.ie9').length) { //ie8模拟placeholder;
			jQuery(':input[placeholder]').each(function () {
				jQuery(this).placeholder();
			});
		}
	});
</script> 
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->