<!--{template common/header_simple}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css">
<!--{template common/beijing}-->
<style>
	body{
		overflow:auto;
	}
</style>
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<script src="user/scripts/register.js?{VARHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<div class="row vh-100" style="position: absolute;width: 100%">
  <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block">
    <div class="d-flex vh-100">
      <div class="p-5 align-self-end">
         <!--{if $_G[setting][loginset][subtitle]}--><h1>$_G[setting][loginset][subtitle]</h1><!--{/if}-->
        <br><br><br>
        <!--{if $_G[setting][metadescription]}--><p class="text-white">$_G[setting][metadescription]</p><!--{/if}-->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center" style="background-color: <!--{if $_G['setting']['loginset']['bcolor']}-->$_G['setting']['loginset']['bcolor']<!--{else}-->#fff<!--{/if}-->;height: 100%;">
    <div class="p-5">
      <div class="text-center">
        <img alt="light year admin" src="{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}">
      </div>
      <h2 class="text-center">{lang register_welcome_tip}</h2>
      <form class="signin-form needs-validation" action="{MOD_URL}" method="POST" name="registerform" id="registerform" role="form" enctype="multipart/form-data" onsubmit="check_submit(this);return false">
				<input type="hidden" name="regsubmit" value="yes"/>
				<input type="hidden" name="formhash" value="{FORMHASH}"/>
				<input type="hidden" name="referer" value="$referer"/>
				<input type="hidden" name="handlekey" value="$_GET[handlekey]"/>
				<!--{if $_GET[action] != 'activation'}-->
				<div class="mb-3">
          <input type="text" class="form-control" id="email" name="email" autocomplete="off" placeholder="{lang register_email_tips}">
					<span id="chk_email" class="help-msg"></span>  
        </div>
				<div class="mb-3">
          <input type="text" class="form-control" id="username" name="username" autocomplete="off" placeholder="{lang username}">
					<span id="chk_username" class="help-msg"></span>
        </div>
				<div class="mb-3">
          <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="{lang register_password_tips}">
					<span id="chk_password" class="help-msg"></span> 
        </div>
				<div class="mb-3">
          <input type="password" class="form-control" id="password2" name="password2" autocomplete="off" placeholder="{lang register_repassword_tips}">
					<span id="chk_password2" class="help-msg"></span> 
        </div>
				<!--{/if}-->
				<!--{if $seccodecheck}-->
				<!--{template common/seccheck}--> 
				<!--{/if}-->
				<!--<!--{loop $_G['cache']['fields_register'] $field}-->
				<!--{if $htmls[$field['fieldid']]}-->
				<div class="mb-3">
							<!--{if $field['required']}--><span class="rq">*</span><!--{/if}--><label for="$field['fieldid']">$field[title]:</label>
							$htmls[$field['fieldid']]
							<i id="tip_$field['fieldid']" class="p_tip"><!--{if $field['description']}--><!--{echo dhtmlspecialchars($field[description])}--><!--{/if}--></i><kbd id="chk_$field['fieldid']" class="p_chk"></kbd>
				</div>
				<!--{/if}-->
				<!--{/loop}-->-->
				<!--{if $bbrules}-->
				<div class="mb-3">
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="agreebbrule" value="$bbrulehash" id="agreebbrule" checked="checked" />
						<label for="agreebbrule">{lang agree}<a class="ml20 pull-left" href="javascript:;" onclick="showWindow('bbrule','{MOD_URL}&op=ajax&do=bbrule')">{lang rulemessage}</a></label>
					</div>
				</div>
				<!--{/if}-->
        <div class="mb-3 d-grid">
          <button class="btn btn-primary" name="loginsubmit" value="true"><!--{if $_GET[action] == 'activation'}-->{lang activation}<!--{else}-->$_G[setting][reglinkname]<!--{/if}--></button>
        </div>
				<p class="error-msg text-center" id="returnmessage4"></p>
				<div class="mb-3 text-center">
          <p class="text-center">
            <span>已有账号？</span>
            <a href="user.php?mod=login">{lang back_login}</a>
          </p>
        </div>
      </form>
      <p class="text-center text-muted mt-3"><!--{template common/copyright}--></p>
    </div>
  </div>
</div>
<script type="text/javascript">
	var lastusername = '', lastpassword = '', lastemail = '', lastinvitecode = '', stmp = new Array(), modifypwd = false;
	var ignoreEmail = false;
	var strongpw = new Array();
	<!--{if $_G['setting']['strongpw']}-->
		<!--{loop $_G['setting']['strongpw'] $key $val}-->
			strongpw[$key] = $val;
		<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
	
	jQuery(document).ready(function (e) {
	
		addFormEvent('registerform',1);
		if (jQuery('.ie8,.ie9').length) { //ie8模拟placeholder;
			jQuery(':input[placeholder]').each(function () {
				jQuery(this).placeholder();
			});
		}
	});
</script> 
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->