{eval $oparr=array('updatecache','database','cron','systemupgrade','xtxx');}
{eval $leftmenu=array();}
{eval foreach($oparr as $key => $value){}
{eval $leftmenu[$value]=array('title'=>lang($value),'active'=>'');}
	{eval if($value==$op) $leftmenu[$value]['active']='class="active"';}
{eval }}

<ul class="nav-stacked">
  <!--{loop $leftmenu $key $value}-->
      <li $value[active]><a hidefocus="true" href="{MOD_URL}&op=$key">$value[title]</a></li>
  <!--{/loop}-->
	<li><a hidefocus="true" href="admin/system/adminer.php">{lang Database management}</a></li>
</ul>