{eval
$oparr=array('updatecache','database','cron','systemupgrade','xtxx','fileperms');
$leftmenu=array();
foreach($oparr as $key => $value){
$leftmenu[$value]=array('title'=>lang($value),'active'=>'');
if($value==$op) $leftmenu[$value]['active']='class="nav-link active"';
}
{eval }}

<ul class="nav-stacked nav-pills">
  <!--{loop $leftmenu $key $value}-->
  <li class="nav-item"><a hidefocus="true" $value[active] href="{MOD_URL}&op=$key">$value[title]</a></li>
  <!--{/loop}-->
	<li class="nav-item"><a hidefocus="true" href="admin/system/adminer.php">{lang Database management}</a></li>
</ul>