<!--{template common/header_simple_start}-->
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
	</div>
	<div class="bs-main-container  clearfix">
		<div class="main-header clearfix">
      <span id="step1" <!--{if $step==1}-->style="color:green"<!--{/if}-->>1.{lang nav_updatecache_confirm}</span>
      <span id="step2" <!--{if $step==2}-->style="color:green"<!--{/if}-->>2.{lang nav_updatecache_verify}</span>
      <span id="step3" <!--{if $step==3}-->style="color:green"<!--{/if}-->>3.{lang nav_updatecache_completed}</span>
		</div>
		<div class="main-content">
			<div class="well well-sm">
				<!--{if $step==1}-->
				<form method="post" class="form-horizontal form-horizontal-left" action="{MOD_URL}&op=updatecache&step=2">
					<input name="formhash" value="{VERHASH}" type="hidden">
					<div class="form-check form-check-inline">
            <input name="type[]" value="data" checked class="form-check-input" type="checkbox">
            <label class="form-check-label" for="inlineRadio3">{lang tools_updatecache_data}</label>
          </div>
					<div class="form-check form-check-inline">
            <input name="type[]" value="tpl" id="tplcache" checked class="form-check-input" type="checkbox">
            <label class="form-check-label" for="inlineRadio3">{lang tools_updatecache_tpl}</label>
          </div>
					<dl>
						<input class="btn btn-primary" name="confirmed" value="{lang confirms}" type="submit">
					</dl>
				</form>
				<!--{elseif $step==2}-->
				<p class="ml20">{lang tools_updatecache_waiting}</p>
				<p class="text-success ml20">
					<a href="{MOD_URL}&op=updatecache&step=3&type=data_tpl" class="lightlink">{lang message_redirect}</a>
				</p>
				<script type="text/JavaScript">setTimeout(function(){location.href='{MOD_URL}&op=updatecache&step=3&type=data_tpl';}, 2000);</script>
				<!--{elseif $step==3}-->
				<p class="text-success ml20" style="margin:10px;">{lang update_cache_succeed}</p>
				<script type="text/javascript">
					window.setTimeout(function() { location.href = '{MOD_URL}&op=updatecache'; }, 5000);
				</script>
				<!--{/if}-->
			</div>
			<ul class="help-block">
				<h5>{lang board_message}</h5> {lang tools_updatecache_tips}
			</ul>
		</div>
	</div>
</div>
<!--{template common/footer_simple}-->