<ul class="nav-drawer nav-stacked nav-pills">
    <li class="nav-item bs-left-title p-2">
		<a href="{MOD_URL}">
			<i class="mdi mdi-file"></i>
			<span>{lang appname}</span>
		</a>
	</li>
    <li class="nav-item">
		<a class="nav-link <!--{if !$type}-->active<!--{/if}-->" href="{MOD_URL}">{lang all}</a>
	</li>
	<!--{loop $typearr $key $value}-->
	<li class="nav-item">
		<a class="nav-link <!--{if $type==$key}-->active<!--{/if}-->" href="{MOD_URL}&type=$key">$value</a>
	</li>
	<!--{/loop}-->
</ul>