<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/smilies.css?{VERHASH}"rel="stylesheet" media="all">
<link href="dzz/system/ueditor/third-party/dzzattach/dzzattach.css?{VERHASH}"  rel="stylesheet"  media="all">
<!--{if $news['commentstatus']}-->
<link href="dzz/styles/showwindow/style.css?{VERHASH}" rel="stylesheet" media="all">
<link href="dzz/comment/images/comment.css?{VERHASH}" rel="stylesheet" media="all">
<!--{/if}-->
<!--{if $news['styleswitch']}-->
<link href="{MOD_PATH}/images/styleswitch.css" rel="stylesheet" media="all">
<!--{/if}-->
<!--{if $news['shipin']}-->
<link rel="stylesheet" href="{MOD_PATH}/images/shipin.css">
<script src="{MOD_PATH}/scripts/iframe.js"></script>
<!--{/if}-->
<link href="static/select2/select2.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/select2/select2-bootstrap.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/jquery.leftDrager.js?{VERHASH}"></script>
<link href="static/css/app_manage.css?{VERHASH}" rel="stylesheet" media="all">
<link href="{MOD_PATH}/images/news.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/js/header.js"></script>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<style type="text/css">
.bs-main-container{
    margin: 5px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius:  var(--radius); 
	overflow: auto;
    height: calc(100% - 69px);
    margin: 0;
}
.main-content{
    overflow: auto;
}
#view .Topcarousel ,#view img.img-circle{ 
    font-size: 24px; 
    width: 50px;
    height: 50px;
    line-height: 50px;
}
#vote_container .Topcarousel ,#vote_container img.img-circle{ 
    font-size: 18px; 
    width: 32px;
    height: 32px;
    line-height: 32px;
}	
</style>
<div class="bs-container"> 
  <!-- 右边部分 -->
  <div class="bs-main-container clearfix">  
    <div class="main-content" id="middleconMenu">
      <!--{if $news['styleswitch']}-->
      <div class="fenggebiaoti"><span>$news['subject']</span></div>
      <!--{else}-->
      <h1 class="subject text-center">$news['subject']</h1>
      <!--{/if}-->
      <!--{if $news['type']==0}-->
      <div class=" content-document-body">$news['content']
		  <!--{if $news['shipin']}-->
		  <div id="Joe">
            <div class="joe_detail__article-video">
              <div class="play">
                <div class="title">播放预览</div>
                <div class="box">
                    <iframe allowfullscreen="true" data-player="/dzz/bilibili/player.php?url="></iframe>
                </div>
            </div>
            <div class="episodes">
              <div class="title">剧集列表</div>
                <div class="box">
                  <!--{loop $videotime $item}-->                   
                  <div class="item" data-src="<!--{eval echo explode('!', $item)[1];}-->"><!--{eval echo explode('!', $item)[0] ;}--></div>
                  <!--{/loop}--> 
              </div>
            </div>
          </div>
        </div>
        <!--{/if}-->
      </div>
      <!--{/if}-->
      <!--{if $news['type']==1}-->
      <div id="carousel-generic" class="carousel slide" data-ride="carousel" style="padding: 20px 0"> 
        <!-- Indicators -->
        <ol class="carousel-indicators">
           {eval $i=0;} 
          <!--{loop $pics $value}--> 
          <li data-target="#carousel-generic" data-slide-to="$i" <!--{if $i==0}-->class="active"<!--{/if}-->>
          </li>
          {eval $i++} 
          <!--{/loop}-->
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner"> {eval $i=0;} 
          <!--{loop $pics $value}-->
          <div class="item <!--{if $i==0}-->active<!--{/if}-->">
            <img src="$value[url]" data-src="$value[url]"  style="margin:0 auto">
            <div class="carousel-caption"  style="bottom:0">$value['title']</div>
          </div>
          {eval $i++} 
          <!--{/loop}--> 
        </div>
        <!-- Controls --> 
        <a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev" style="font-size:30px;">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next" style="font-size:30px;">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a> 
      </div>
      <!--{/if}-->
      <!--{if $news['type']==2}-->
      <span class="lianjie_cloud">
        <img class="lianjie_cloud__logo" src="avatar.php?uid=$news[authorid]">
        <div class="lianjie_cloud__describe">
          <div class="lianjie_cloud__describe-title">$news['subject']</div>
          <div class="lianjie_cloud__describe-type">$news['url']</div>
        </div>
        <a class="lianjie_cloud__btn" href="$news['url']" target="_blank">
          <i class="dzz dzz-download"></i>
        </a>
      </span>
      <!--{/if}-->
      <!--{if $_G['uid']}-->
      <!--{if $news['votestatus']}-->
      <div class="content-vote" id="vote_container">
          <script> ajaxget('{DZZSCRIPT}?mod=dzzvote&op=ajax&do=getvote&id=$news[newid]&idtype=news','vote_container','vote_container')</script>
      </div>
      <!--{/if}-->
      <!--{/if}--> 
      <div class="content-info clearfix">
        <div class="info-item">
          <div class="pull-left"><strong>{lang informations}：</strong></div>
          <div class="info-item-publish"> <span>$news[author] {lang publications} {eval echo dgmdate($news[dateline],'u');}</span> 
              <!--{if $news['opuid']}--> 
              <span class="pipe">|</span> <span>$news[opauthor] {lang changes} {eval echo dgmdate($news[updatetime],'u');}</span> 
              <!--{/if}--> 
              <!--{if $news['moduid']}--> 
              <span class="pipe">|</span> <span> $news[modusername] {lang review_on} {eval echo dgmdate($news[modtime],'u');}</span> 
              <!--{/if}--> 
              <!--{if $news['catname']}--> 
              <span class="pipe">|</span> <span>{lang classify}：$news['catname']</span> 
              <!--{/if}--> 
          </div>
        </div>
        <div class="info-item " style="padding:0">
            <div class="pull-left"><strong>{lang range}：</strong></div>
            <div class="info-item-org"> 
              <!--{if !$sel_org && !$sel_user}--> 
               <span >{lang all}</span> 
              <!--{else}--> 
              <!--{loop $sel_org $value}--> 
              <span > 
              <!--{if $value['forgid']}--> 
              <img src="dzz/system/images/department.png" /> 
              <!--{else}--> 
              <img src="dzz/system/images/organization.png" /> 
              <!--{/if}--> 
              $value[orgname] </span> 
              <!--{/loop}--> 
              <!--{loop $sel_user $value1}--> 
              <span> <img src="dzz/system/images/user.png" /> $value1[username] </span> 
              <!--{/loop}--> 
              <!--{/if}--> 
            </div>
        </div>
      </div>
      <!--{if $_G['uid']}-->
      <!--{if $news['commentstatus']}-->
      <ul class="nav nav-underline" role="tablist">
        <li class="active"><a href="#comment" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-comment"></i> {lang comment}</a></li>
        <li><a href="#view" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i> {lang consult_the_situation}</a></li>
      </ul>
      <!--{else}-->
      <ul class="nav nav-underline" role="tablist">
        <li class="active"><a href="#view" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-eye-open"></i> {lang consult_the_situation}</a></li>
      </ul>
      <!--{/if}--> 
      <div class="tab-content">
        <!--{if $news['commentstatus']}-->	
        <div class="tab-pane active" id="comment" style="padding-left:0px;">
          <div class="content-comment">
              <a name="comment_reply_form"></a>
              <div id="comment_reply_form" class="comment-reply-form clearfix">
                  <div class="itemfeed" >
                      <div class="left_ifed"> 
                          <a href="user.php?uid=$_G[uid]" title="$_G[username]" hidefocus="true">
                          {eval echo avatar_block($_G[uid]);}</a> 
                      </div>
                      <div class="cmt_fed right-ifed" id="documnet_reply"> 
                          <script type="text/javascript">ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getPublishForm&id=$news[newid]&idtype=news&module=news&allowattach=3&allowat=0&allowsmiley=1','documnet_reply','documnet_reply')</script> 
                      </div>
                  </div>
              </div>
              <a name="comment_container"></a>
              <div id="comment_container" class="document-comment clearfix"> 
                  <script type="text/javascript"> ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getcomment&idtype=news&id=$news[newid]&allowattach=3&allowat=0&allowsmiley=1','comment_container','comment_container')</script> 
              </div> 
           </div>
        </div>
        <!--{/if}-->
        <div class="tab-pane clearfix <!--{if !$news['commentstatus']}-->active <!--{/if}-->" id="view">
          <script type="text/javascript">ajaxget('{DZZSCRIPT}?mod=news&op=ajax&do=getViewerByNewid&newid=$newid','view','view');</script>
        </div>
      </div>
      <!--{else}-->
      <!--{if $news['youkepinglun']}-->
      <!--{if $news['commentstatus']}-->
      <ul class="nav nav-underline" role="tablist">
        <li class="active"><a href="#comment" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-comment"></i> {lang comment}</a></li>
      </ul>
      <div class="tab-pane active" id="comment" style="padding-left:0px;">
          <div class="content-comment">
              <a name="comment_reply_form"></a>
              <div id="comment_reply_form" class="comment-reply-form clearfix">
                  <div class="itemfeed" >
                      <div class="left_ifed"> 
                          <a href="user.php?uid=$_G[uid]" title="$_G[username]" hidefocus="true">
                          {eval echo avatar_block($_G[uid]);}</a> 
                      </div>
                      <div class="cmt_fed right-ifed" id="documnet_reply"> 
                          <script type="text/javascript">ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getPublishForm&id=$news[newid]&idtype=news&module=news&allowattach=3&allowat=0&allowsmiley=1','documnet_reply','documnet_reply')</script> 
                      </div>
                  </div>
              </div>
              <a name="comment_container"></a>
              <div id="comment_container" class="document-comment clearfix"> 
                  <script type="text/javascript"> ajaxget('{DZZSCRIPT}?mod=comment&op=ajax&do=getcomment&idtype=news&id=$news[newid]&allowattach=3&allowat=0&allowsmiley=1','comment_container','comment_container')</script> 
              </div> 
           </div>
        </div>
      <!--{/if}-->
      <!--{/if}-->
      <!--{/if}-->
    </div>
	 <!--{if $_GET[op]=='view'}-->
    <!--{if $perm>1 || $news['authorid']==$_G[uid]}-->
        <a class="news_add dzz dzz-create" href="{DZZSCRIPT}?mod={MOD_NAME}&op=edit&newid=$_GET['newid']" title="{lang compile}"></a>
    <!--{/if}-->
    <!--{/if}-->
  </div>
</div>

<script type="text/javascript">
 jQuery('.left-drager').leftDrager_layout(null,{'cookieid':'news_view'});
jQuery(document).ready(function(e) {
   
  //更新浏览数
  jQuery(document).on('click','.share_to_desktop',function(){
	  jQuery.getJSON(DZZSCRIPT+'?mod=system&op=dzzcp&do=linktodesktop&link='+encodeURIComponent(this.href),function(json){
		  if(json.error){
			  alert(json.error);
		  }else{
			  try{
				  parent._ico.createIco(json);
				 parent.showmessage(__lang.successfully_add_desktop_shortcuts,'success',3000,1);
			  }catch(e){
				  alert(__lang.successfully_add_desktop_shortcuts);
			  }
		  }
	  });
	  return false;
  });
  uParse('.content-document-body',{'rootPath':'dzz/system/ueditor'});
  dzzattach.init('.content-document-body');
});       
</script> 
<script type="text/javascript" src="dzz/news/scripts/news.js?{VERHASH}"></script> 
<script type="text/javascript" src="dzz/system/ueditor/ueditor.parse.js?{VERHASH}"></script>
<script src="dzz/system/ueditor/third-party/dzzattach/dzzattach.js?{VERHASH}" type="text/javascript"></script>
<!--{if $news['commentstatus']}--> 
<script src="dzz/comment/scripts/comment.js?{VERHASH}" type="text/javascript"></script> 
<script type="text/javascript"  src="static/js/smilies.js?{VERHASH}"></script> 
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included --> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.ui.widget.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.iframe-transport.js?{VERHASH}"></script> 
<!-- The basic File Upload plugin --> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-process.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-validate.js?{VERHASH}"></script> 
<!--{/if}--> 
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script> 
<!--codestrings--> 
<!--{template common/footer_simple}--> 
