<!--{template common/mobile_simple_start}-->
<link href="{MOD_PATH}/images/mobile/password.css?{VERHASH}" rel="stylesheet">
<style>
  .weui-photo-browser-modal{
    z-index: 9999;
  }
</style>
<!--{template common/header_simple_end}-->
<!--{template common/mobile_commer_header}-->
<body>
<div class="weui-cell weui-cell_access weui-cell-member weui-cells">
    <div class="weui-cell__hd">
        <!--{if $shareuser[avatarstatus]}-->
        <img src="avatar.php?uid=$shareuser[uid]" class="img-avatar" title="$shareuser[username]"/>
        <!--{else}-->
        <span class="img-avatar" style="background:{$shareuser[headerColor]}">{$shareuser[firstword]}</span>
        <!--{/if}-->
    </div>
    <div class="weui-cell__bd">
        <h4>$shareuser[username]的分享文件</h4>
    </div>
</div>
<!--地址栏开始-->
<section class="weui-address">
    <div class="weui-address-container" id="weui_address_scroll">
	    <div class="scroller">
		    <ul class="weui-address-field breadcrumb">
		       <li>
		            <a href="{DZZSCRIPT}?mod=shares&sid=$osid">{lang all_typename_attach}</a><span class="dzz dzz-chevron-right"></span>
		        </li>
		    </ul>
	    </div>
    </div>
</section>
<!--地址栏结束-->
<section class="weui-cells__recent" id="filelist">
	<!--{template mobile/list_item}-->
</section>
<iframe id="hideframe" name="hideframe" src="about:blank" frameBorder="0" marginHeight="0" marginWidth="0" width="0"
        height="0" allowtransparency="true" style="display:none;z-index:-99999"></iframe>
<div id="dataContainer" class="hide"></div>
</div>
<footer class="weui-member-footer weui-tabbar">
    <a href="javascript:;" class="weui-tabbar__item savefiles">
        <span class="dzz dzz-save weui-share-dzzicon"></span>
        <p class="weui-tabbar__label">转存</p>
    </a>
	<!--{if !$share[xiazai]}-->
    <a href="javascript:;" class="weui-tabbar__item downfile">
        <span class="dzz dzz-download weui-share-dzzicon"></span>
        <p class="weui-tabbar__label">下载</p>
    </a>
	<!--{/if}-->
</footer>
</body>
<script type="text/javascript" src="static/jquery_weui/js/swiper.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_weui/js/iscroll.js?{VERHASH}"></script>
<script type="text/javascript" src="static/jquery_weui/js/navbarscroll.js?{VERHASH}"></script>
<script type="text/javascript" src="{MOD_PATH}/scripts/mobile/appevent.js?{VERHASH}"></script>
<script type="text/javascript" src="{MOD_PATH}/scripts/mobile/share.js?{VERHASH}"></script>
<script type="text/javascript">
var nextpage = '{$nextpage}',morepath = '{$morepath}',is_wxwork = '{$is_wxwork}', u = navigator.userAgent;;
$(function(){
    if(!!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/) || is_wxwork){
       $('.downfile').addClass('hide');
    }else{
        $('.downfile').removeClass('hide');
    }
    $('#weui_address_scroll').navbarscroll();
});

function downfile(downurl){
    jQuery.post('{MOD_URL}&do=adddowns&sid={$_GET[sid]}', function (data) {
        if (data['success']) {
            window.frames['hideframe'].location = downurl;
        }
    }, 'json');
}
</script>
<!--{template common/footer_simple}-->
