<!--{template common/mobile_simple_start}-->
<link href="{MOD_PATH}/images/mobile/password.css" rel="stylesheet">
<!--{template common/header_simple_end}-->
<!--{template common/mobile_commer_header}-->
<body>
<section class="weui-cells__recent">
<div class="weui-cell weui-cell_access weui-cell-member">
    <div class="weui-cell__hd">{eval echo avatar_block($share['uid']);}</div>
    <div class="weui-cell__bd">
        <h4>{$share[username]}{lang password_share_to}</h4>
    </div>
</div>
<form method="post" action="{$_G[siteurl]}index.php?mod=shares&sid=$osid" onsubmit="return success();">
	<input type="hidden" name="formhash" value="{FORMHASH}" />
	<div class="weui-cell weui-cells">
		<div class="weui-cell__hd"><label class="weui-label">提取密码</label></div>
		<div class="weui-cell__bd">
		  <input class="weui-input" type="password" name="password"  placeholder="请输入密码">
		</div>
	</div>
	<div class="weui-submit">
		<button type="submit" class="weui-btn weui-btn_primary_color" name="passwordsubmit" value="true">提取文件</button>
	</div>
</form>
</section>
</body>
<script type="text/javascript">
	function success(){
		var passwords ='{$rightpassword}';
		var val=$('.weui-input').val();
		console.log(passwords);
		if(passwords==val){			
			return true;
		}else{
			console.log(passwords);
			$.alert("密码不正确，请重新填写");
			return false;
		}
	}
</script>
</html>
