<!--{template common/header_simple_start}-->
<script src="admin/scripts/admin.js?{VERHASH}"></script>
<style>
	.progress.active .progress-bar {
		-webkit-animation: none;
		animation: none;
		transition: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
</style>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
	<div class="bs-left-container  clearfix">
		<!--{template left}-->
	</div>
	<div class="left-drager">
		<div class="left-drager-op">
			<div class="left-drager-sub"></div>
		</div>
	</div>

	<div class="bs-main-container  clearfix">
		<div class="main-header clearfix">
			<h4 class="main-header-title navbar-left">{lang upgrade}</h4>					
		</div>	
		 
		<div class="main-header clearfix">
				<!--{loop $steplang $key $value}-->
				<!--{if $key>0 && $key<=5}-->
				<span <!--{if $key==$step}-->style="color:green"<!--{/if}-->>{$key}.{$value}</span>
				<!--{/if}-->
				<!--{/loop}-->
		</div> 
		
		<div class="main-content"> 
			<!--{if !$_G['setting']['bbclosed']}-->
			<div style="padding:20px;height:450px">
				<div class="alert alert-warning text-center">
					$msg
				</div>
			</div>
			<!--{else}-->
			<table class="table table-striped table-hover">
				<thead>
					<th colspan="5">{lang founder_upgrade_preupdatelist}</th>
				</thead>
				<!--{loop $updatefilelist $value}-->
				<tr>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-file"></i> $value</td>
				</tr>
				<!--{/loop}-->
				<thead>
					<th colspan="5">&nbsp;{lang founder_upgrade_store_directory} ./data/update/app/$appinfo["identifier"]/$version</th>
				</thead>
				<thead>
					<th colspan="5">&nbsp;<input type="button" class="btn btn-primary" onclick="window.location.href='$linkurl'" value="{lang founder_upgrade_download}"></th>
				</thead>

			</table>
			<!--{/if}-->
		</div> 
	</div>
</div>
<!--{template common/footer_simple}-->