<!--{template lyear:header_simple_start}-->
<link href="dzz/images/folder/folder.css?{VERHASH}" rel="stylesheet" media="all">
<link rel="stylesheet" type="text/css" href="static/lyear/js/bootstrap-lyear-select/bootstrap-lyear-select.css?{VERHASH}">
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container">
	<div class="container-fluid">
		<div class="card">
		<!--{if $_G[adminid]==1}-->
		<!--{if $list}-->
		<div class="card-header">
			<ul class="nav nav-pills clearfix">	
				<li class="float-end">
					<form name="search" action="{DZZSCRIPT}" class="form-inline" method="get">
						<input type="hidden" name="mod" value="{MOD_NAME}" />
						<input type="hidden" name="lpp" value="$lpp">
						<input type="hidden" name="type" value="$type" />
						<input type="hidden" name="keyword" value="$keyword" /> 
						<input name="username" type="text" value="$username" class="form-control" style="width:90px ;display:inline-block" placeholder="{lang username}" />
						<button class="btn btn-outline-info" onclick="this.parentNode.submit()"><i class="mdi mdi-magnify"></i></button>
						<div class="float-end">
							<div class="input-group mb-3">
								<span class="input-group-text">每页显示</span>
								<select class="form-select" onchange="if(this.options[this.selectedIndex].value != '') {this.form.lpp.value = this.options[this.selectedIndex].value;this.form.submit(); }">
									<option value="10" $checklpp[10]> 10 </option>
									<option value="20" $checklpp[20]> 20 </option>
									<option value="40" $checklpp[40]> 40 </option>
									<option value="100" $checklpp[100]> 100 </option>
									<option value="200" $checklpp[200]> 200 </option>
								</select>
								<span class="input-group-text">条记录</span>
							</div>
						</div>
					</form>
				</li>
			</ul>
		</div>
		<!--{/if}-->
		<!--{/if}-->
		<div class="card-body">
			<!--{if !$list}-->
			<div style="text-align: center;">
				<img src="static/image/common/no_list.png" /><br>
				<span class="no-result-title">{lang no_relevant_content}</span>
			  </div>
			<!--{else}-->
			<div node-type="module" class="module-list-toolbar" style="display: none;">
				<div class="bar clearfix">
					<span class="text"><span node-type="chk" class="chk-box"> 
            			<span class="chk chk-ico"></span>
					</span>
					{lang checked}<span node-type="num">0</span>{lang file_number_type}</span>
					<button class="btn btn-danger" data-key="unshare"><span>{lang delete_share}</span> </button>
				</div>
			</div>
			<div node-type="module" class="module-list-view">
				<div node-type="wrapper" class="list-view-home">
					<div node-type="title" class="title">
						<div class="item clearfix">
							<!-- 第一列 -->
							<div class="col">
								<div class="name">sid
								</div>
							</div>
							<!-- 其他列 -->
							<div class="col">url</div>
							<div class="col"> {lang view_count}</div>
							<div class="col"> {lang operation}
							</div>
						</div>

					</div>
					<div node-type="list" class="list list-share">
						<!--{loop $list $value}-->
						<div node-type="item" data-sid="$value[sid]" class="item clearfix">
							<!-- 第一列 -->
							<div node-type="name" class="col">
								<span node-type="chk" class="chk"> <span class="chk-ico"></span></span>
								<span class="name-text-wrapper"> <span class="name-text enabled" node-type="name-text" data-href="$value['short']">$value[sid]</span> </span>
							</div>
							<!-- 其他列 -->
							<div class="col"><a href="$value[url]" target="_blank">$value[url]</a></div>
							<div class="col">$value[count]{lang degree}</div>
							<div class="col">
								<button class="btn btn-primary js_copy" data-clipboard-text="$value[sid]" style="position:relative"><i class="mdi mdi-content-copy"></i>sid<span class="alert copy-success  alert-success hide ">{lang copy_success}</span></button>
								<button class="btn btn-primary js_copy" data-clipboard-text="$value[url]" style="position:relative"><i class="mdi mdi-content-copy"></i>url<span class="alert copy-success  alert-success hide ">{lang copy_success}</span></button>
							</div>
							<div node-type="copy-bar" class="copy-bar">
								{lang short}：
								<a href="$value['short']" target="_dzz">$value['short']</a>
								<button class="btn btn-primary js_copy" data-clipboard-text="$value['short']" style="position:relative"><i class="mdi mdi-content-copy"></i>{lang short}<span class="alert copy-success  alert-success hide ">{lang copy_success}</span></button>
							</div>
						</div>
						<!--{/loop}-->
						<!--{if $multi}--><div class="page clearfix" style="padding: 20px 0">$multi</div><!--{/if}-->
					</div>

				</div>
			</div>
			<!--{/if}-->
		</div>
	</div>
</div>
</main>
<script type="text/javascript">
	jQuery(document).ready(function(e) {
		jQuery(document).on('mouseenter', 'div[node-type=item]', function() {
			jQuery(this).addClass('item-hover');
		});
		jQuery(document).on('mouseleave', 'div[node-type=item]', function() {
			jQuery(this).removeClass('item-hover');
		});
		jQuery(document).on('click', 'span[node-type=name-text]', function() {
			if(top._config) {
				top.OpenWindow('url', jQuery(this).data('href'), jQuery(this).html());
			} else {
				window.open(jQuery(this).data('href'), jQuery(this).html());
			}
		});
		jQuery('.chk[node-type=chk-all]').on('click', function() {
			jQuery(this).addClass('chked');
			jQuery('.item').each(function() {
				jQuery(this).addClass('item-active').find('span[node-type=chk]').addClass('chked');
			});
			refresh_header();
			return false;
		});
		jQuery(document).on('click', '.item .chk', function() {
			jQuery(this).toggleClass('chked');
			jQuery(this).closest('.item').toggleClass('item-active');
			jQuery('.copy-bar').hide();
			refresh_header();
			return false;
		});
		jQuery('.module-list-toolbar .chk').on('click', function() {
			if(jQuery(this).hasClass('chked')) {
				jQuery(this).removeClass('chked');
				jQuery('.chk[node-type=chk-all]').removeClass('chked');
				jQuery('.module-list-toolbar').hide();
				jQuery('.item.item-active').each(function() {
					jQuery(this).removeClass('item-active').find('span[node-type=chk]').removeClass('chked');
					jQuery(this).find('.copy-bar').hide();
				});
			} else {
				jQuery(this).addClass('chked');
				jQuery('.item:not(.item-active)').each(function() {
					jQuery(this).addClass('item-active').find('span[node-type=chk]').addClass('chked');
				});
			}
		});
		jQuery(document).on('click', 'div[node-type=item]', function(e) {
			e = e ? e : event;
			
			var el = jQuery(this);
			var obj = e.srcElement ? e.srcElement : e.target;
			if(jQuery(obj).closest('.js_copy').length) return false;
			var actives = jQuery('.item-active').length;
			if(e.ctrlKey) {
				jQuery('.item-active').not(this).find('.copy-bar').hide();
			} else {
				jQuery('.item-active').not(this).each(function() {
					jQuery(this).removeClass('item-active').find('span[node-type=chk]').removeClass('chked')
						.end().find('.copy-bar').hide();
				});
			}
			if(el.hasClass('item-active') && (actives == 1 || e.ctrlKey)) {
				el.removeClass('item-active').find('span[node-type=chk]').removeClass('chked');
				el.find('.copy-bar').hide();
			} else {
				el.addClass('item-active').find('span[node-type=chk]').addClass('chked');
				el.find('.copy-bar').show();
			}
			refresh_header();
		});
		
		var client = new Clipboard('.js_copy');
		client.on("success", function(e) {
			var self = e.trigger;
			jQuery(self).find('.copy-success').removeClass('hide');
			window.setTimeout(function() {
				jQuery(self).find('.copy-success').addClass('hide');
			}, 1000);
		});
		
		jQuery('.title .item .col[node-type=title-col]').on('click', function() {
			var el = jQuery(this);
			el.find('.asc').css('visibility', 'visible').toggleClass('desc');
			el.siblings().find('.asc').css('visibility', 'hidden');
			item_sort(el.data('key'), el.find('.asc').hasClass('desc') ? 'desc' : 'asc');
		});
		jQuery('button[data-key=unshare]').on('click', function() {
			var msg = '{lang share_stop_sharing1}';
			showDialog(msg, 'confirm', '{lang affirm_stop_sharing}', share_delete, 1)
		});
		jQuery('[data-bs-toggle="popover"]').popover();
	});

	function item_sort(key, order) {
		location.href = '$theurl&order=' + key + '&asc=' + (order == 'desc' ? 1 : 0);
		return; 
	}

	function share_delete() {
		var sid = new Array();
		jQuery('.list .item-active').each(function() {
			sid.push(jQuery(this).data('sid'));
		});
		jQuery.post('{MOD_URL}&op=ajax&do=shortdel', { "sid": sid }, function(json) {
		    for(var o in json.msg){
				if(json.msg[o]['success']){
                    jQuery('.list div[data-sid="'+o+'"]').remove();
				} else {
					showmessage('db_error_message', 'error', 3000, 1);
				}
			}
            refresh_header();
		}, 'json');
	}
	function refresh_header() {
		var sum = jQuery('.list .item.item-active').length;
		var tsum = jQuery('.list .item').length;
		if(sum > 0) {
			jQuery('.module-list-toolbar').find('span[node-type=num]').html(sum).end().show();
			if(sum == tsum) {
				jQuery('.module-list-toolbar').find('.chk').addClass('chked');
			} else {
				jQuery('.module-list-toolbar').find('.chk').removeClass('chked');
			}
		} else {
			jQuery('.module-list-toolbar').hide();
			jQuery('.chk[node-type=chk-all]').removeClass('chked');
		}
	}
</script>
<script type="text/javascript" src="static/clipboard/clipboard.min.js?{VERHASH}"></script>
<!--{template lyear:footer_simple}-->