<ul class="nav-stacked nav-pills">
		<!--{if $_G['adminid']==1 || $_G['member']['grid']==5}-->
		<li class="nav-item">
			<a <!--{if $op=='verify' && !$vid}-->class="nav-link active"<!--{elseif $op=='profileset' || $op=='verifyset' || $op=='verify'}--><!--{else}-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&op=verify">{lang members_verify_profile}</a>
		</li>
		<!--{/if}-->
		<!--{if $_G['adminid']==1}-->
		<li class="nav-item">
			<a <!--{if $op=='profileset' }-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&op=profileset">{lang data_set}</a>
		</li>
		<li class="nav-item">
			<a <!--{if $op=='verifyset' }-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&op=verifyset">{lang members_verify}</a>
		</li>
		<!--{/if}-->
	
		<!--{loop $_G[setting][verify] $key $value}-->
		<!--{if $value[available]}-->
		<!--{if $key==1 && ($_G['adminid']==1 || $_G['member']['grid']==4)}-->
		<li class="nav-item">
			<a <!--{if $op=='verify' && $vid==$key}-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&op=verify&vid=$key">$value[title]</a>
		</li>
		<!--{elseif $_G['adminid']==1}-->
		<li class="nav-item">
			<a <!--{if $op=='verify' && $vid==$key}-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&op=verify&vid=$key">$value[title]</a>
		</li>
		<!--{/if}-->
		<!--{/if}-->
		<!--{/loop}-->
</ul>