<!--{template lyear:header_simple_start}-->
<link href="{MOD_PATH}/images/comment.css?{VERHASH}" rel="stylesheet" media="all">
<link href="static/css/smilies.css?{VERHASH}"rel="stylesheet" media="all">
<link rel="stylesheet" href="static/lyear/js/bootstrap-table/bootstrap-table.min.css?{VERHASH}">
<link href="static/dzzthumb/jquery.dzzthumb.css?{VERHASH}" rel="stylesheet" media="all">
<script type="text/javascript" src="static/dzzthumb/jquery.dzzthumb.js?{VERHASH}"></script>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container lyear-scroll">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<div class="card-search mb-2-5">
					  <div class="row">
						<div class="col-md-4">
						  <div class="row">
							<label class="col-sm-4 col-form-label">内容</label>
							<div class="col-sm-8">
							  <input type="text" class="form-control pull-left" name="keyword" id="keyword" placeholder="{lang please_enter_comment}">
							</div>
						  </div>
						</div>
						<div class="col-md-4">
						  <button type="submit" class="btn btn-primary me-1" id="search-btn">搜索</button>
						  <button type="reset" class="btn btn-default" id="refreshsearch">重置</button>
						</div>
					  </div>
				  </div>
                <div id="toolbar" class="toolbar-btn-action">
                  <button id="btn_delete" type="button" class="btn btn-danger">
                    <span class="mdi mdi-delete" aria-hidden="true"></span>删除
                  </button>
                </div>
                <table id="table"></table>
			</div>
		</div>
	</div>
</main>
<script src="static/lyear/js/bootstrap-table/bootstrap-table.js"></script>
<script src="static/lyear/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script>

	/**
     * 批量 删除按钮
     */
	 $(document).on('click', '#btn_delete', function () {
        var self    = $(this);
        var selRows = $('#table').bootstrapTable("getSelections");
        if(selRows.length == 0){
			showmessage("请至少选择一行", 'danger',3000,1);
            return;
        }
        var postData = "";
        $.each(selRows,function(i) {
            postData +=  this.cid;
            if (i < selRows.length - 1) {
                postData += ",";
            }
        });
		
		showDialog('你确定要删除'+selRows.length+'条评论吗(如果有回复评论也将一同删除)？', 'confirm','', function(){	
			var loader = $('body').lyearloading({
				opacity: 0.2,
				spinnerSize: 'lg'
			});
			jQuery.post('{MOD_URL}&do=delete', {'cid': postData},function(json){
				loader.destroy();
				if(json['msg']=='success'){
					showmessage('删除成功', 'success', '3000', 1);
					$('#table').bootstrapTable("refresh");
					return false;
				}else if(json['msg']){
					showmessage(json['msg'], 'danger', '3000', 1);
				} else {
					showmessage('{lang error}', 'danger', '3000', 1);
				}
				},'json')
				.fail(function() {
					loader.destroy();
					showmessage('服务器发生错误，请稍后再试', 'danger',3000,1);
		  });
        });
        return false;
    });

	 /**
     * 搜索按钮
     */
	 $(document).on('click', '#search-btn', function() {
        $('#table').bootstrapTable('refresh');
    })

	/**
     * 重置按钮
     */
	$('#refreshsearch').click(function() {
		// 清空表单内容
        $('#keyword').val('');
        // 刷新表格
        $('#table').bootstrapTable('refresh');
    });

	var type = '';
	$(document).on('click', '.type-btn', function() {
		// 移除所有 .type-btn 的 active 类
		$('.type-btn').removeClass('active');
		// 为当前点击的按钮添加 active 类
		$(this).addClass('active');
		// 获取当前的 type 值
		type = $(this).data('type');
		$('#table').bootstrapTable('refresh');
    })
    
	/**
	 * 分页相关的配置
	 **/
	const pagination = {
		// 分页方式：[client] 客户端分页，[server] 服务端分页
		sidePagination: "server",
		// 初始化加载第一页，默认第一页
		pageNumber: 1,
		// 每页的记录行数
		pageSize: 10,
		// 可供选择的每页的行数 - (亲测大于1000存在渲染问题)
		pageList: [5, 10, 25, 50, 100],
		// 在上百页的情况下体验较好 - 能够显示首尾页
		paginationLoop: true,
		// 展示首尾页的最小页数
		paginationPagesBySide: 2,
	};
	
	/**
	 * 按钮相关配置
	 **/
	const button = {
		// 按钮的类
		buttonsClass: 'default',
		// 类名前缀
		buttonsPrefix: 'btn'
	}
	
	/**
	 * 图标相关配置
	 **/
	const icon = {
		// 图标前缀
		iconsPrefix: 'mdi',
		// 图标大小
		iconSize: 'mini',
		// 图标的设置
		icons: {
			paginationSwitchDown: 'mdi-door-closed',
			paginationSwitchUp: 'mdi-door-open',
			refresh: 'mdi-refresh',
			toggleOff: 'mdi-toggle-switch-off',
			toggleOn: 'mdi-toggle-switch',
			columns: 'mdi-table-column-remove',
			detailOpen: 'mdi-plus',
			detailClose: 'mdi-minus',
			fullscreen: 'mdi-monitor-screenshot',
			search: 'mdi-table-search',
			clearSearch: 'mdi-trash-can-outline'
		}
	};
	
	/**
	 * 表格相关的配置
	 **/
	const table = {
		classes: 'table table-bordered table-hover table-striped lyear-table',
		// 请求地址
		url: '{MOD_URL}&do=getinfo',
		// 唯一ID字段
		uniqueId: 'id',
		// 每行的唯一标识字段
		idField: 'id',
		// 是否启用点击选中行
		clickToSelect: true,
		// 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)
		// showToggle: true,
		// 请求得到的数据类型
		dataType: 'jsonp',
		// 请求方法
		method: 'get',
		// 工具按钮容器
		toolbar: '#toolbar',
		// 是否分页
		pagination: true,
		// 是否显示所有的列
		showColumns: true,
		// 是否显示刷新按钮
		showRefresh: true,
		// 显示图标
		showButtonIcons: true,
		// 显示文本
		showButtonText: false,
		// 显示全屏
		showFullscreen: true,
		// 总数字段
		totalField: 'total',
		// 当字段为 undefined 显示
		undefinedText: '-',
		// 排序方式
		sortOrder: "asc",
		...icon,
		...pagination,
		...button,
	};
	
	/**
	 * 用于演示的列信息
	 **/
	const columns = [{
		field: 'example',
		checkbox: true,
		// 列的宽度
		width: 5,
		// 宽度单位
		widthUnit: 'rem'
	}, {
		field: 'id',
		title: '编号',
		// 使用[align]，[halign]和[valign]选项来设置列和它们的标题的对齐方式。
		// h表示横向，v标识垂直
		align: 'center',
		switchable: false,
		// 列的宽度
		width: 4,
		// 宽度单位
		widthUnit: 'rem'
	},<!--{if $_G['adminid']}--> {
		field: 'authorid',
		align: 'center',
		sortable: true,
		title: '评论者'
	},{
		field: 'edituid',
		align: 'center',
		sortable: true,
		title: '编辑者'
	},{
		field: 'edittime',
		align: 'center',
		sortable: true,
		title: '编辑时间'
	},<!--{/if}--> {
		field: 'ip',
		sortable: true,
		title: 'IP',
	}, {
		field: 'xtllq',
		sortable: true,
		// 是否可视(默认 - true)
		align: 'center',
		title: '{lang Equipment information}'
	},{
		field: 'message',
		sortable: true,
		formatter: '<a class="btn btn-sm btn-default me-1 view-btn" title="{lang view}当前评论" data-bs-toggle="tooltip"><i class="mdi mdi-magnify-expand"></i></a><a class="btn btn-sm btn-default me-1 viewid-btn" title="{lang view}所有评论" data-bs-toggle="tooltip"><i class="mdi mdi-comment-text-multiple"></i></a>',
		align: 'center',
		title: '评论内容',
		clickToSelect:false,
		events: {
			'click .view-btn': function (event, value, row, index) {
                event.stopPropagation();
                view(row);
            },
			'click .viewid-btn': function (event, value, row, index) {
                event.stopPropagation();
                viewid(row);
            },
        }
	}, {
		field: 'dateline',
		sortable: true,
		align: 'center',
		title: '评论时间',
	}, {
        field: 'operate',
        title: '{lang operation}',
        formatter: btnGroup,  // 自定义方法
        events: {
			'click .edit-btn': function (event, value, row, index) {
                event.stopPropagation();
                edit(row);
            },
            'click .del-btn': function (event, value, row, index) {
                event.stopPropagation();
                delUser(row);
            }
        }
    }];
    
    // 自定义操作按钮
    function btnGroup () {
        let html =
            '<a class="btn btn-sm btn-default me-1 edit-btn" title="{lang edit}" data-bs-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a class="btn btn-sm btn-default del-btn" title="{lang delete}" data-bs-toggle="tooltip"><i class="mdi mdi-delete"></i></a>';
        return html;
    }
	function edit(row) {
		showWindow('publish_edit_'+row.cid,DZZSCRIPT+'?mod=comment&op=ajax&do=edit&cid='+row.cid+'&allowattach=3&allowat=1&allowsmiley=1');
    }
	function viewid(row) {
		showWindow('publish_view_'+row.fid,'{DZZSCRIPT}?mod=comment&op=ajax&do=getcomment&modal=1&idtype='+row.idtype+'&id='+row.fid+'&allowattach=3&allowat=1&allowsmiley=1','get',0);
    }
	// 操作方法 - 预览
    function view(row) {
		showWindow('publish_view_'+row.cid,'{DZZSCRIPT}?mod=comment&op=ajax&do=getcommentbycid&modal=1&cid='+row.cid+'&allowattach=3&allowat=1&allowsmiley=1','get',0);
    }
    // 操作方法 - 删除
	function delUser(row) {
		showDialog('你确定要删除这条评论吗(如果有回复评论也将一同删除)？', 'confirm','', function(){	
			var loader = $('body').lyearloading({
				opacity: 0.2,
				spinnerSize: 'lg'
			});
			$.ajax({
            type: "post",
            url: "{MOD_URL}&op=ajax&do=delete",
            data: {cid: row.cid},
            dataType: 'json',
            success: function (res, status) {
				loader.destroy();
                if (res.msg == 'success') {
					showmessage('删除成功', 'success',3000,1);
                    $("#table").bootstrapTable('refresh');
                } else {
					showmessage(res.msg, 'danger',3000,1);
                }
            },
            error: function () {
				loader.destroy();
				showmessage('服务器发生错误，请稍后再试', 'danger',3000,1);
            }
        });
	});
        
    }
	
	$('table').bootstrapTable({
		...table,
		// 自定义的查询参数
		queryParams: function (params) {
			return {
				// 每页数据量
				limit: params.limit,
				// sql语句起始索引
				offset: params.offset,
				page: (params.offset / params.limit) + 1,
				// 排序的列名
				sort: params.sort,
				// 排序方式 'asc' 'desc'
				sortOrder: params.order,
				// 搜索关键词
                keyword: $('#keyword').val(),
				type:type,
			};
		},
		columns,
	});

</script>
<script src="dzz/comment/scripts/comment.js?{VERHASH}" type="text/javascript"></script> 
<script type="text/javascript" src="static/js/smilies.js?{VERHASH}"></script> 
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included --> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.ui.widget.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.iframe-transport.js?{VERHASH}"></script> 
<!-- The basic File Upload plugin --> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-process.js?{VERHASH}"></script> 
<script type="text/javascript" src="static/jquery_file_upload/jquery.fileupload-validate.js?{VERHASH}"></script>
<!--{template lyear:footer_simple}-->