<ul class="nav-drawer nav-stacked nav-pills">
	<li class="nav-item bs-left-title p-2">
		<a href="{MOD_URL}">
			<i class="mdi mdi-comment"></i>
			<span>{lang appname}</span>
		</a>
	</li>
	<li class="nav-item">
		<a <!--{if !$type}-->class="nav-link active"<!--{/if}-->href="{MOD_URL}"><i class="mdi mdi-comment-multiple"></i><span>{lang all}</span></a>
	</li>
	<!--{loop $searchcats $val}-->
	<li class="nav-item">
		<a <!--{if $type==$val[identifier]}-->class="nav-link active"<!--{/if}-->href="{MOD_URL}&type=$val[identifier]">
			<img src="$val[appico]"><span>$val[appname]</span>
		</a>
	</li>
	<!--{/loop}-->
</ul>