<ul class="nav-stacked nav-pills">
		<li class="nav-item">
				<a <!--{if $operation=='basic' || $operation=='datetime' || $operation=='upload' || $operation=='at' || $operation=='notification' || $operation=='watermark'}-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=basic">{lang basicSet}</a>
		</li>
		<li class="nav-item">
				<a <!--{if $operation=='denlu' || $operation=='access' || $operation=='sec'|| $operation=='qqlogin' || $operation=='loginset'}-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=denlu">{lang loginSet}</a>
		</li>
		<li class="nav-item">
			<a <!--{if $operation=='space'}-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=space">{lang spaceSet}</a>
		</li>
		<li class="nav-item">
				<a <!--{if $operation=='mail' || $op=='mailcheck' }-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=mail">{lang mail}</a>
		</li>
		<li class="nav-item">
				<a <!--{if $operation=='smiley' || $op=='smiley' }-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=smiley">{lang expression_manage}</a>
		</li>
		<li class="nav-item">
			<a <!--{if $operation=='permgroup'}-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=permgroup">{lang permGroupSet}</a>
		</li>
		<li class="nav-item">
				<a <!--{if $operation=='censor' }-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=censor">{lang words_management}</a>
		</li>
		<li class="nav-item">
				<a <!--{if $operation=='qywechat' || $op=='assistant' || $op=='wxsyn' }-->class="nav-link active"<!--{/if}-->href="{BASESCRIPT}?mod={MOD_NAME}&operation=qywechat">{lang weinxin_company}</a>
		</li>
</ul>