<!--{template common/header_simple_start}-->
<style>
	.logintips {
    color: red;
    line-height: 30px;
    padding: 20px;
		margin: var(--radius);
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0 5px 15px RGBA(0,0,0,.3);
    -moz-box-shadow: 0 5px 15px RGBA(0,0,0,.3);
    box-shadow: 0 5px 15px RGBA(0,0,0,.3);
		text-align: center;
  }
</style>
<!--{template common/header_simple_end}-->
<!--{template common/beijing}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
</div>
<!--{template common/footer_simple}-->