<!--{template common/header_common}-->
<!--{if $_G[setting][loginset][lwaveanimation]}--><link rel="stylesheet" type="text/css" href="static/css/animate.min.css?{VERHASH}"><!--{/if}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css?{VERHASH}">
<style>
	.signin-form .has-feedback {
    position: relative;
}
	.signin-form .has-feedback .form-control {
			padding-left: 36px;
	}
	.signin-form .has-feedback .mdi {
			position: absolute;
			top: 0;
			left: 0;
			right: auto;
			width: 36px;
			height: 36px;
			line-height: 36px;
			z-index: 4;
			color: #dcdcdc;
			display: block;
			text-align: center;
			pointer-events: none;
	}
	.signin-form .form-group:last-child,
	.login-right p:last-child {
			margin-bottom: 0px;
	}
	.login-box {
			max-width: 700px;
	}
	.login-right {
			max-width: 50%;
      text-align: center;
	}
	<!--{if $_G[setting][loginset][kbcolor]}-->
	.card{
		background-color:$_G[setting][loginset][kbcolor];
	}
	<!--{/if}-->
  <!--{if $_G[setting][loginset][transparency]}-->
	.form-control{
		background-color:$_G[setting][loginset][transparency];
	}
	<!--{/if}-->
</style>
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="static/js/md5.js"></script>
<!--{template common/beijing}-->
<!--{eval $loginhash = 'L'.random(4);}-->
<!--{if $_G['setting'][loginset][template] == 2}-->
<div class="row vh-100 overflow-auto" style="position: absolute;width: 100%;">
  <div class="col-md-6 col-lg-7 col-xl-8 d-none d-md-block">
    <div class="d-flex vh-100">
      <div class="p-5 align-self-end">
         <!--{if $_G[setting][loginset][subtitle]}--><h1>$_G[setting][loginset][subtitle]</h1><!--{/if}-->
        <br><br><br>
        <!--{if $_G[setting][metadescription]}--><p class="text-white">$_G[setting][metadescription]</p><!--{/if}-->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center" style="background-color: <!--{if $_G['setting']['loginset']['kbcolor']}-->$_G['setting']['loginset']['kbcolor']<!--{else}-->#fff<!--{/if}-->;height: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="p-5">
      <div class="text-center">
        $avastar
      </div>
      <p class="text-center text-muted">$maintitle</p>
      <form class="signin-form needs-validation" action="$extra" method="POST" name="login" id="loginform" role="form" enctype="multipart/form-data" onsubmit="pwmd5('admin_password')">
				<input type="hidden" name="sid" value="$sid">
				$loginuser
				<div class="mb-3 has-feedback">
					<span class="mdi mdi-lock" aria-hidden="true"></span>
          <input autofocus class="form-control" name="admin_password"  id="admin_password"  autofocus type="password" class="form-control"  value="" autocomplete="off" placeholder="$lang1[password]"  required>
        </div>
				
        <div class="mb-3 d-grid">
          <button class="btn btn-primary" name="loginsubmit" value="true">{lang login}</button>
        </div>
				<div class="mb-3 text-center">
          <span>访问首页？</span>
          <a href="$_G[siteurl]">{lang Home page}</a>
        </div>
				
      </form>
      <p class="text-center text-muted mt-3"><!--{template common/copyright}--></p>
    </div>
  </div>
</div>
<!--{elseif $_G['setting'][loginset][template] == 3}-->
<div class="center-vh overflow-auto">
	<div class="card<!--{if $_G[setting][loginset][lwaveanimation]}--> wave wave-animate-slow<!--{/if}-->">
    <div class="flex-box login-box">

        <div class="login-left p-5">
          <h2 class="text-center">$maintitle</h2>
          <!--{if $_G[uid]}-->
          <div class="text-center mb-3">
            $avastar
          </div>
          <!--{/if}-->
          <form class="signin-form needs-validation"  action="$extra" method="POST" name="login" id="loginform" role="form" enctype="multipart/form-data" onsubmit="pwmd5('admin_password')">
            <input type="hidden" name="sid" value="$sid">
            $loginuser
            <div class="mb-3 has-feedback">
              <span class="mdi mdi-lock" aria-hidden="true"></span>
              <input type="password" class="form-control" name="admin_password"  id="admin_password" autofocus value="" autocomplete="off" placeholder="$lang1[password]" required/>
            </div>
            <div class="mb-3 d-grid">
              <button class="btn btn-round btn-primary" name="loginsubmit" value="true" type="submit">{lang login}</button>
              <a href="$_G[siteurl]" class="btn btn-round btn-danger">首页</a>
            </div>
          </form>
          <p class="text-center mt-3"><!--{template common/copyright}--></p>
        </div>
        <div class="login-right p-5 d-none d-sm-block">
          <p class="mb-3"><img src="<!--{if !$_G['setting']['bbclosed']}-->{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}<!--{else}-->static/image/common/logo.png<!--{/if}-->" alt="logo" /></p>
          <!--{if $_G[setting][loginset][subtitle]}--><p class="text-white">$_G[setting][loginset][subtitle]</p><!--{/if}-->
          <!--{if $_G[setting][metadescription]}--><p class="text-white align-self-end">$_G[setting][metadescription]</p><!--{/if}-->
        </div>
      </div>
  </div>
</div>
<!--{else}-->
<div class="center-vh overflow-auto">
  <div class="card card-shadowed p-5 mb-0 mr-2 ml-2<!--{if $_G[setting][loginset][lwaveanimation]}--> wave wave-animate-slow<!--{/if}-->" id="register_form">
    <div class="text-center mb-3">
      $avastar
      <h1>$maintitle</h1>
    </div>
    <form action="$extra" method="POST" name="login" id="loginform" role="form" enctype="multipart/form-data" onsubmit="pwmd5('admin_password')" class="signin-form needs-validation">
      <input type="hidden" name="sid" value="$sid">
       $loginuser
      <div class="mb-3 has-feedback" id="admin_password_Container">
				<span class="mdi mdi-lock" aria-hidden="true"></span>
        <input type="password" class="form-control" name="admin_password"  id="admin_password" autofocus value="" autocomplete="off" placeholder="$lang1[password]" required/>
      </div>
      <div class="mb-3 d-grid">
        <button class="btn btn-round btn-primary" name="loginsubmit" value="true" type="submit">{lang login}</button>
        <a href="$_G[siteurl]" class="btn btn-round btn-danger">首页</a>
      </div>
    </form>    
    <p class="text-center mb-0 text-white"><!--{template common/copyright}--></p>
  </div>
</div>
<!--{/if}-->
<script type="text/JavaScript">
 jQuery(document).ready(function(e) {
  jQuery('#loginform .form-control:first').focus();
          if(jQuery('.ie8,.ie9').length){ //ie8模拟placeholder;
              jQuery(':input[placeholder]').each(function(){
                  jQuery(this).placeholder();
              });
          }
      });
</script>
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->
