<div id="wrapper_div" style="width: 100%;height:100%;  position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; overflow: hidden;font-size: 0px;<!--{if $_G['setting']['loginset']['bcolor']}-->background:$_G['setting']['loginset']['bcolor'];<!--{/if}--><!--{if $_G['setting']['loginset']['img']}-->background-image:url("$_G['setting']['loginset']['img']")<!--{/if}-->"> 
  <!--{if $_G['setting']['loginset']['url']}-->
  <iframe id="wrapper_frame" name="wrapper_frame" src="$_G['setting']['loginset']['url']" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="100%" allowtransparency="true" style="z-index:20;position:absolute;width:100%;height:100%;background:url(dzz/images/b.gif);"></iframe>
	<!--{elseif $_G['setting']['loginset']['bcolor']}-->
	<!--{else}-->
	<link rel="stylesheet" type="text/css" href="static/css/beijin.css">
	<div class="backstretch">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="bg0 pa">
      <div class="bg1"></div>
    </div>
  </div>
  <!--{/if}-->
</div>