<!--{eval output();}-->
<!--{eval updatesession();}-->
<!--{if debuginfo()}-->
<script type="text/javascript">
try{
	if(console && console.log){
		console.log('Processed in $_G['debuginfo']['time'] second(s), $_G['debuginfo']['queries'] queries <!--{if $_G['gzipcompress']}-->, Gzip On<!--{/if}--><!--{if C::memory()->type}-->, <!--{echo ucwords(C::memory()->type)}--> On<!--{/if}-->.');
	}
}catch(e){}
</script>
<!--{/if}-->	
<!--{if !$_G['setting']['bbclosed']}-->
<!--{if !isset($_G['cookie']['sendmail'])}-->
<script type="text/javascript" src="misc.php?mod=sendmail&rand=$_G['timestamp']"></script>
<!--{/if}-->
<script type="text/javascript" src="misc.php?mod=sendwx&rand=$_G['timestamp']"></script>
<!--{/if}-->
<!--{if $_G['setting']['statcode']}-->
	$_G['setting']['statcode']
<!--{/if}-->
<!--{if $_G['setting']['addEventListener']}-->
<script type="text/javascript">
    // 全局错误处理
    $(document).ready(function() {
        // 设置jQuery全局的Ajax错误处理
        $.ajaxSetup({
            error: function(xhr, textStatus, errorThrown) {
                var errorMsg = "Ajax Error: " + textStatus + ", " + errorThrown;
                showmessage(errorMsg, 'error', 3000, 1);
            }
        });
        window.addEventListener('error', function(event) {
            handleErrors(event);
        }, true);
    });
    function handleErrors(event) {
        try {
            // 检查是否存在错误对象
            if (event.error && event.error.stack) {
                const stack = event.error.stack;
                // 过滤或脱敏stack信息（根据需要实现）
                reportError(stack);
                showmessage(stack, 'error', 3000, 1);
            }
        } catch (error) {
            // 对reportError和showmessage的调用进行了异常捕获
            console.error("Failed to report or show error:", error);
        }
    }
</script>
<!--{/if}-->
<script type="text/javascript" src="static/js/popper.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/js/main.min.js?{VERHASH}"></script>
<script type="text/javascript" src="static/js/lyear-loading.js?{VERHASH}"></script>
</body>
</html>