<ul class="nav navbar-nav">
	<!--{if $_G['uid']}-->
	<!--{if !$_G['setting']['bbclosed'] || !$_G['adminid'] ==0}-->
	{eval $verify = C::t('user_verify')->fetch($_G['uid']);}	
	<!--{if $verify[verify1]==1 || !$_G['adminid'] ==0}-->
	<li class="app_popup-parent">
		<a href="javascript:;" id="desktop_app" data-href="index.php?mod=system&op=app_ajax&operation=app" class="app_popup_icon js-popbox" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover"><span class="dzz dzz-apps basil"></span></a>
	</li>
	<li>
		<a href="javascript:;" id="dzz_notification" data-href="index.php?mod=system&op=notification&filter=new" class="navbar-notice js-popbox" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover">
			<span class="dzz dzz-notifications"></span>
			<span class="badge hide">&nbsp;</span>
		</a>
	</li>
	<!--{/if}-->
	<!--{else}-->
	<!--{/if}-->
	<li>
		<a href="javascript:;" class="imgHeight js-popbox" data-href="user.php?mod=space&op=navmenu&modname={MOD_NAME}" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover">
			{eval echo avatar_block($_G[uid]);}	
		</a>
	</li>
	<!--{else}-->
	<li class="app_popup-parent">
		<a href="javascript:;" id="desktop_app" data-href="index.php?mod=system&op=app_ajax&operation=app" class="app_popup_icon js-popbox" data-placement="bottom" data-trigger="focus" data-auto-adapt="true" data-toggle="popover"><span class="dzz dzz-apps basil"></span></a>
	</li>
	<li>
    <a href="javascript:;" onclick="location.href='$_G[siteurl]user.php?mod=login';return false;"><span>{lang login}</span></a>
  </li>
	<!--{if $_G['setting']['regstatus']}-->
  <li>
    <a class="zuce" href="javascript:;" onclick="location.href='$_G[siteurl]user.php?mod=register';return false;">
      <span >{lang register}</span>
    </a>
  </li>
  <!--{/if}-->
	<li>
    <a href="javascript:;" class="guanyu" onclick="showWindow('about','user.php?mod=space&op=about&modname={MOD_NAME}');">{lang about}</a>
  </li>
	 <!--{/if}-->
</ul>