<ul class="navbar navbar-right d-flex align-items-center">
<li class="nav-item dropdown dropdown-skin">
	<a data-bs-toggle="dropdown" class="basil nav-link">
	<i class="dzz dzz-theme basil"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end" data-stopPropagation="true">
	<li class="lyear-skin-title"><p>主题</p></li>
	<li class="lyear-skin-li clearfix">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_1" value="default" checked="checked">
			<label class="form-check-label" for="site_theme_1"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_2" value="translucent-green">
			<label class="form-check-label" for="site_theme_2"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_3" value="translucent-blue">
			<label class="form-check-label" for="site_theme_3"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_4" value="translucent-yellow">
			<label class="form-check-label" for="site_theme_4"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_5" value="translucent-red">
			<label class="form-check-label" for="site_theme_5"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_6" value="translucent-pink">
			<label class="form-check-label" for="site_theme_6"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_7" value="translucent-cyan">
			<label class="form-check-label" for="site_theme_7"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="site_theme" id="site_theme_8" value="dark">
			<label class="form-check-label" for="site_theme_8"></label>
		</div>
	</li>
	<li class="lyear-skin-title"><p>头部</p></li>
	<li class="lyear-skin-li clearfix">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_1" value="default" checked="checked">
			<label class="form-check-label" for="header_bg_1"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_2" value="color_2">
			<label class="form-check-label" for="header_bg_2"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_3" value="color_3">
			<label class="form-check-label" for="header_bg_3"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_4" value="color_4">
			<label class="form-check-label" for="header_bg_4"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_5" value="color_5">
			<label class="form-check-label" for="header_bg_5"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_6" value="color_6">
			<label class="form-check-label" for="header_bg_6"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_7" value="color_7">
			<label class="form-check-label" for="header_bg_7"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="header_bg" id="header_bg_8" value="color_8">
			<label class="form-check-label" for="header_bg_8"></label>
		</div>
	</li>
	<li class="lyear-skin-title"><p>侧边栏</p></li>
	<li class="lyear-skin-li clearfix">
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_1" value="default" checked="checked">
			<label class="form-check-label" for="sidebar_bg_1"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_2" value="color_2">
			<label class="form-check-label" for="sidebar_bg_2"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_3" value="color_3">
			<label class="form-check-label" for="sidebar_bg_3"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_4" value="color_4">
			<label class="form-check-label" for="sidebar_bg_4"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_5" value="color_5">
			<label class="form-check-label" for="sidebar_bg_5"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_6" value="color_6">
			<label class="form-check-label" for="sidebar_bg_6"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_7" value="color_7">
			<label class="form-check-label" for="sidebar_bg_7"></label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input" type="radio" name="sidebar_bg" id="sidebar_bg_8" value="color_8">
			<label class="form-check-label" for="sidebar_bg_8"></label>
		</div>
	</li>
</ul>
</li>
	<!--{if $_G['uid']}-->
	<!--{if !$_G['setting']['bbclosed'] || !$_G['adminid'] ==0}-->
	<li class="nav-item">
		<a href="javascript:;" id="desktop_app" data-href="index.php?mod=system&op=app_ajax&operation=app" class="app_popup_icon nav-link active js-popbox" role="button" data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="focus" data-auto-adapt="true" data-bs-toggle="popover"><span class="dzz dzz-apps basil"></span></a>
	</li>
	<li class="nav-item">
		<a href="javascript:;" id="dzz_notification" data-href="index.php?mod=system&op=notification&filter=new" class="animations-box position-relative nav-link active navbar-notice js-popbox" role="button" data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="focus" data-auto-adapt="true" data-bs-toggle="popover">
			<span class="dzz dzz-notifications basil"></span>
			<span class="badge bg-danger badge-pill hide">&nbsp;</span>
		</a>
	</li>
	<!--{else}-->
	<!--{/if}-->
	<li>
		<a href="javascript:;" class="js-popbox" data-href="user.php?mod=space&op=navmenu&modname={MOD_NAME}" role="button" data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="focus" data-auto-adapt="true" data-bs-toggle="popover">
			{eval echo avatar_block($_G[uid]);}	
		</a>
	</li>
	<!--{else}-->
	<li class="nav-item">
		<a href="javascript:;" id="desktop_app" data-href="index.php?mod=system&op=app_ajax&operation=app" class="app_popup_icon nav-link active js-popbox" role="button" data-bs-container="body" data-bs-placement="bottom" data-bs-trigger="focus" data-auto-adapt="true" data-bs-toggle="popover"><span class="dzz dzz-apps basil"></span></a>
	</li>
	<li class="nav-item">
    <a href="javascript:;" class="nav-link active basil" onclick="location.href='$_G[siteurl]user.php?mod=login';return false;"><span>{lang login}</span></a>
  </li>
	<!--{if $_G['setting']['regstatus']}-->
  <li class="nav-item">
    <a href="javascript:;" class="nav-link active basil" onclick="location.href='$_G[siteurl]user.php?mod=register';return false;">
      <span >{lang register}</span>
    </a>
  </li>
  <!--{/if}-->
	<li class="nav-item">
    <a href="javascript:;" class="nav-link active basil" onclick="showWindow('about','user.php?mod=space&op=about&modname={MOD_NAME}');">{lang about}</a>
  </li>
	 <!--{/if}-->
</ul>