<!--{template common/header_simple_start}-->
<link href="{MOD_PATH}/css/passsafe.css?{VERHASH}" rel="stylesheet" media="all">
<script src="user/scripts/register.js?{VERHASH}"></script>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="bs-container clearfix">
    <div class="bs-left-container  clearfix">
        <!--{template left}-->
    </div>
    <div class="left-drager">
    </div>

    <div class="bs-main-container  clearfix" >
        <div class="main-header clearfix">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link {if $do == 'editpass'}active{/if}" href="user.php?mod=profile&op=password">{lang password_edit}</a></li>
                <li class="nav-item"><a class="nav-link {if $do == 'login'}active{/if}" href="user.php?mod=profile&op=password&do=login">登录记录</a></li>
                <li class="nav-item"><a class="nav-link {if $do == 'changeemail'}active{/if}" href="user.php?mod=profile&op=password&do=changeemail">{lang bindemail_subject}</a></li>
                <!--{if $qqlogin[openid] && $qqlogin[unbind]<1}--><li class="nav-item"><a class="nav-link {if $do == 'bindqq'}active{/if}" href="user.php?mod=profile&op=password&do=bindqq">绑定QQ</a></li><!--{/if}--> 
            </ul>
        </div>
        <div class="main-content">
            <div class="col-md-12">
            <!--{if $do == 'editpass'}-->
                <!--{template editpass}-->
            <!--{elseif $do == 'changeemail'}-->
                <!--{template changeemail}-->
            <!--{elseif $do == 'login'}-->
                <!--{template login}-->
           <!--{/if}-->
      </div>
    </div>
  </div>
</div>
<!--{template common/footer_simple}-->