.quanping{
	  top: 75px;
    z-index: 100;
    position: absolute;
    overflow: hidden;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    background: #fff;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
    overflow-x: hidden;
}
html{
    background: #f0f2f5;
}
.information-box{
	position: absolute;
  height: 100%;
  width: 30%;
  right: 0;
  top: 0;
  margin: 1rem;
}
@media (max-width: 674px) {
.information-box{
	position: absolute;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  margin: 1rem;
	width: auto;
	height: auto;
	top:65%;
}
}
.information-box .title{
  font-size: large;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
	text-align: center
}
.information-box .tip{
	font-size: 18px;
  font-weight: 700;
  padding-bottom: 16px;
}
.information-box .field{
	margin-bottom: 6px;
	display: flex;
}
.el{
	width: 50%
}
.information-box .record{
	font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}
.zuobu{
    position: absolute;
    top: 1rem;
    width:65%;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }
@media (max-width: 674px) {
  .zuobu{
    position: absolute;
    top: 50px;
    width:auto;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
		height: 50%
  }
}