<!--{template common/header_simple_start}-->
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
    <!--面板开始-->
<div class="bs-container clearfix">
  <div class="bs-main-container clearfix">  
    <div class="main-content pace-done center-vh" >
		<div class="card card-shadowed p-5 mb-0 mr-2 ml-2">
			<div class="text-center mb-3">
				{eval echo avatar_block($share['uid']);}
			</div>
			<form method="post" action="{$_G[siteurl]}index.php?mod=shares&sid=$osid">
				<input type="hidden" name="formhash" value="{FORMHASH}" />
				<div class="row mb-3">
					<div class="has-feedback">	
						<span class="mdi mdi-lock" aria-hidden="true"></span>	
						<input type="password" placeholder="{lang password_share_placeholder}" class="form-control" id="password" name="password"/>
					</div>
				  </div>
				<div class="mb-3 d-grid">
					<button class="btn btn-round btn-primary" type="submit" name="passwordsubmit" value="true">{lang password_share_submit}</button>
				</div>
			</form>
		  </div>
		</div>
  </div>
</div>
<!--{template common/footer_simple}-->