<!--{template common/header_simple_start}-->
<link href="{MOD_PATH}/images/main.css?{VERHASH}" rel="stylesheet" media="all">
<style>
.bs-main-container{
	box-shadow: none;
  border: none;
  background: none;
}
.row{
	padding: 1rem;
}
</style>
<!--{template common/header_simple_end}-->
<!--{template common/beijing}-->
<!--{template common/commer_header}-->
<div class="bs-container">
   <div class="bs-main-container">
    <!-- 右边部分 -->
    <div class="main-content container">         	        
			<ul class="main-content-ul">
				
				 <!--{loop $data $value}-->
				<li  class="main-content-li">
					<a href="$value[url]" title="$value[appname]">
						<div class="row" >
							<div class="col-md-12 text-center">
								<p><img src="$value[appico]"/></p>							
							</div>	
							<div class="col-md-12 text-center" style="font-size:16px;">
								<p style="color: #333;">$value[appname]</p>
							</div>
						</div>						
					</a>

				</li>
				<!--{/loop}-->
			</ul>
        </div>
</div>
<!--{template common/footer_simple}-->