
body{
	height: 100%;
	color:#566481;
}
 .mainContainer{
	animation-duration: 800ms;
    position: relative;
    animation-fill-mode: both;
	z-index: 10;
	height: 100%;
	 text-align: center;
	overflow:auto;
	 display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
	 margin: 0;
    padding: 0;
}
   
.modal-content{
  padding: 12px;
  vertical-align: middle;
  display: flex;
  max-width: 80%;
  font-size: 14px;
  color: #333;
  border: none;
  /* position: absolute; */
  justify-content: center;
  background: RGBA(255,255,255,.9);
  box-shadow: 0 5px 15px RGBA(0,0,0,0.3);
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
	margin: 0;
}
.form-group {
    margin-bottom: 20px;
	display: block;
	margin-bottom:0;
	box-shadow: none;
    border: none;
}
.brand img {
	max-width:300px;
	max-height:300px;
}
 .main-title {
   font-size:24px;
    margin: 11px 0;
    color: #000;
    vertical-align: middle;
}
 .sub-title {
   font-size:16px;
    margin: 11px 0;
    color: #000;
    vertical-align: middle;
}

.loginForm{
	width:350px;padding: inherit;	
}
span.spacer{
	margin:0 5px;
	color:#eee;
}
.seccode-wrapper{
	text-align:left;
}
p.error-msg{
	text-align:left;
	margin:20px 0;
}
.btn-lg{
	margin-top:20px;
}
.checkbox-custom {
    margin-top: 0;
    margin-bottom: 0;
}
.checkbox-custom label, .radio-custom label{
	font-size:14px;
	padding-left: 5px;
}
.btn-primary{
	background-color:#3779ff;
}
.third-wrapper{
	margin-bottom:20px;
	text-align: left;
}
.third-wrapper>a{
	display: inline-block;
	width:52px;
	height:52px;
	padding:10px;
}
.third-wrapper>a:hover{
	background-color: RGBA(0,0,0,.05);
}
.third-wrapper>a>img{
	max-width:32px;
	max-height:32px;
	vertical-align: middle
}
