<div class="popbox-body" style="min-width:120px;overflow: visible;">
	<ul class="popbox-menu u-bottom list-unstyled">
		<!--{if !$_G['setting']['bbclosed'] || !$_G['adminid'] ==0}-->
		<li>
			<a href="$_G['siteurl']" target="_blank">{lang Home page}</a>
		</li>
		<li class="langset">
          <a href="javascript:;">
            <span class="dzz dzz-arrow-dropleft"></span>{lang Select_the_language}
          </a>
          <ul class="langlist popbox-menu u-bottom list-unstyled">
          <!--{loop $langList $key $value}-->
            <li>
              <a href="{MOD_URL}&op=yuyan&do=$key" class="langset-item" data-lang="$key">
                <!--{if $space[language] == $key}--><span class="dzz dzz-done"></span><!--{/if}-->$value
              </a>
            </li>
          <!--{/loop}-->
          </ul>
        </li>
		<!--{/if}-->
		<li>
          <a href="javascript:;" onclick="showWindow('about','{MOD_URL}&op=about&modname=$_GET[modname]');popbox();">{lang about}</a>
		</li>
		<!--{if $_G['uid']>0}-->
		<!--{if !$_G['setting']['bbclosed'] || !$_G['adminid'] ==0}-->
		<li>
			<a href="user.php?mod=profile" target="_blank">{lang userCenter}</a>
		</li>
		<!--{/if}-->
		<li>
			<a href="javascript:;" onclick="_header.loging_close();popbox();">{lang logout}</a>
		</li>
		<!--{else}-->
		<li>
			<a href="user.php?mod=login">{lang login}</a>
		</li>
		<!--{/if}-->
	</ul>
</div>