<!--{template common/header_simple_start}-->
<link href="static/css/common.css?{VERHASH}" rel="stylesheet" media="all">
<style>
body{
	
}
.userspace{
	position: relative;
	height:auto;
	border:none;
	padding:0;
	border-bottom:1px solid #DDD;
}
.userspace .avatar{
	position:absolute;

	left:8px;
	top:15px;
}

.userspace .userinfo{
	padding:20px 10px 15px 70px;
	line-height:40px;
	overflow:hidden;
}
.userspace .userinfo a{
	padding-right:20px;
	font-size:24px;
	
}
.news{
		width: 100%;
    margin-bottom: 20px;
	}	
.p_name{
		width: 100%;
    color: #999;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ebeef5;
    border-radius: .5rem;
    padding: 20px;
	}
	.p_x{
		color: #000;
    margin-left: 20px;
	}
	.form-horizontal{
		box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ebeef5;
    border-radius: .5rem;
    padding: 20px;
		font-size: large;
	}
	
</style>
<!--{template common/header_simple_end}-->
<!--{template common/commer_header}-->
<div class="container" style="height:calc(100% - 69px);overflow: auto;">
 <div class=" userspace">
  		<div class="avatar">{eval echo avatar_block($uid);}</div>
        <div class="userinfo clearfix">
            <a  href="javascript:" class="username "><strong>$space['username']</strong></a>
           <!--{if $uid==$_G['uid']}--> <a  href="user.php?mod=profile">{lang edit_data}</a><!--{/if}-->
        </div> 
  </div>
  <div class="main-content clearfix" style="padding:20px;border-top:1px solid #FFF">
		<!--{if $uid==$_G['uid'] || $_G['adminid']}-->
		<div class="news">
			<div class="p_name">
				{lang Last_login_time}
				<span class="p_x">$scdlsj</span>
			</div>
		 </div>
		<div class="news">
			<div class="p_name">
				{lang email}
				<span class="p_x">$space['email']</span>
			</div>
		 </div>
		<!--{/if}-->
    <!--{loop $profiles $key $value}-->
    <div class="news">
			<div class="p_name">
				$value[title]
				<span class="p_x">$value[value]</span>
			</div>
		 </div>
	<!--{/loop}-->
  </div>
  </div>
</div>
<script src="static/bootstrap/js/bootstrap.min.js?{VERHASH}"></script>	
<!--{template common/footer_simple}-->