<!--{template common/header_common}-->
<!--{if $_G['setting']['loginset']['lwaveanimation']}--><link rel="stylesheet" type="text/css" href="static/css/animate.min.css?{VERHASH}"><!--{/if}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css?{VERHASH}">
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<!--{template common/beijing}-->
<style>
.signin-form .has-feedback {
    position: relative;
}
.signin-form .has-feedback .form-control {
    padding-left: 36px;
}
.signin-form .has-feedback .mdi {
    position: absolute;
    top: 0;
    left: 5px;
    right: auto;
    width: 26px;
    height: 36px;
    line-height: 36px;
    z-index: 4;
    display: block;
    text-align: center;
    pointer-events: none;
}
	<!--{if $_G['setting']['loginset']['kbcolor']}-->
	.card{
		background-color:$_G['setting']['loginset']['kbcolor'];
	}
	<!--{/if}-->
	<!--{if $_G['setting']['loginset']['transparency']}-->
	.form-control{
		background-color:$_G'[setting']['loginset']['transparency'];
	}
	<!--{/if}-->
</style>
<script type="text/javascript" src="user/scripts/login.js?{VERHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<div class="center-vh overflow-auto">
<div class="card card-shadowed p-5 mb-0 mr-2 ml-2<!--{if $_G['setting']['loginset']['lwaveanimation']}--> wave wave-animate-slow<!--{/if}-->">
  <div class="text-center mb-3">
		<img alt="light year admin" src="<!--{if !$_G['setting']['bbclosed']}-->{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}<!--{else}-->static/image/common/logo.png<!--{/if}-->" style="max-height: 60px;">
		<h1>{lang getpassword}</h1>
   
  </div>
  <form action="user.php?mod=login&op=logging&action=getpasswd&uid=$uid&id=$hashid" onsubmit="return validate(this);" method="post" class="signin-form needs-validation" role="form" novalidate>
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<h5 class="text-center">{lang login_email}:$member[email]</h5>
    <div class="mb-3 has-feedback">
		<span class="mdi mdi-lock" aria-hidden="true"></span>
      <input class="form-control" type="password" id="newpasswd1" name="newpasswd1" autocomplete="off" placeholder="{lang new_password}" required/>
			<span id="chk_newpasswd1" class="help-block"> <span id="suc_newpasswd1"></span><kbd class="help-msg"></kbd></span>
    </div>
		<div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
      <input class="form-control" type="password" id="newpasswd2" name="newpasswd2" autocomplete="off" placeholder="{lang new_password_confirm}" required/>
			<span id="chk_newpasswd2" class="help-block"><span id="suc_newpasswd2"></span><kbd class="help-msg"></kbd></span>
    </div>
    <div class="mb-3 d-grid">
      <button class="btn btn-round btn-primary" role="button" type="submit" name="getpwsubmit" value="true">{lang identify_changes}</button>
			<a href="$_G['siteurl']" title="{lang back_homepage}" class="btn btn-round btn-danger">{lang back_homepage}</a>
    </div>
  </form>    
  <p class="text-center mb-0 text-dark"><!--{template common/copyright}--></p>
</div>
</div>
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<script type="text/javascript" src="user/scripts/register.js?{VERHASH}"></script>
<script type="text/javascript">
	function validate(form) {
		if(document.getElementById('newpasswd1').value == '') {
			document.getElementById('newpasswd1').focus();
			return false;
		} else if(document.getElementById('newpasswd2').value == '') {
			document.getElementById('newpasswd2').focus();
			return false;
		} else if(document.getElementById('newpasswd1').value != document.getElementById('newpasswd1').value) {
			document.getElementById('newpasswd2').focus();
			return false;
		}
		return true;
	}
	var strongpw = new Array();
	<!--{if $_G['setting']['strongpw']}-->
	<!--{loop $_G['setting']['strongpw'] $key $val}-->
	strongpw[$key] = $val;
	<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
		checkPwdComplexity(document.getElementById('newpasswd1'), document.getElementById('newpasswd2'));
	var loader;
  $(document).ajaxStart(function(){
      $("button:submit").html('加载中...').attr("disabled", true);
      loader = $('button:submit').lyearloading({
          opacity: 0.2,
          spinnerSize: 'nm'
      });
  }).ajaxStop(function(){
      loader.destroy();
      $("button:submit").html('{lang identify_changes}').attr("disabled", false);
  });
</script>
<!--{template common/footer}-->