<!--{template common/header_common}-->
<!--{if $_G[setting][loginset][lwaveanimation]}--><link rel="stylesheet" type="text/css" href="static/css/animate.min.css?{VERHASH}"><!--{/if}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css?{VERHASH}">
<style>
	<!--{if $_G[setting][loginset][kbcolor]}-->
	.card{
		background-color:$_G[setting][loginset][kbcolor];
	}
	<!--{/if}-->
	<!--{if $_G[setting][loginset][transparency]}-->
	.form-control{
		background-color:$_G[setting][loginset][transparency];
	}
	<!--{/if}-->
</style>
<!--{template common/beijing}-->
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="user/scripts/login.js?{VERHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<!--{if !empty($_GET['inajax'])}--><button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button><!--{/if}-->
<div class="center-vh overflow-auto">
	<div class="card<!--{if $_G[setting][loginset][lwaveanimation]}--> wave wave-animate-slow<!--{/if}-->">
<div class="flex-box login-box">
  <div class="login-left p-5">
		<div class="text-center mb-3 d-sm-none">
			<img src="<!--{if !$_G['setting']['bbclosed']}-->{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&original=1&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}<!--{else}-->static/image/common/logo.png<!--{/if}-->" alt="logo" />
		</div>
		<h2 class="text-center">{lang getpassword}</h2>
		<form class="signin-form needs-validation" method="post" autocomplete="off" id="lostpwform_$loginhash" role="form" onsubmit="return validate(this);" action="user.php?mod=login&op=logging&action=getpasswd&uid=$uid&id=$hashid">
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<div class="mb-3 text-center">
				{lang login_email}:$member[email]
			</div>
			<div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
				<input class="form-control" type="password" id="newpasswd1" name="newpasswd1"  autocomplete="off" placeholder="{lang new_password}" required>
				<span id="chk_newpasswd1" class="help-block"> <span id="suc_newpasswd1"></span><kbd class="help-msg"></kbd></span>
			</div>
			<div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
				<input class="form-control" type="password" id="newpasswd2" name="newpasswd2" autocomplete="off" placeholder="{lang new_password_confirm}" required>
				<span id="chk_newpasswd2" class="help-block">
					<span id="suc_newpasswd2"></span>
					<kbd class="help-msg"></kbd>
				</span>
			</div>
			<div class="mb-3 d-grid">
				<button class="btn btn-primary" type="submit" name="getpwsubmit" value="true">{lang identify_changes}</button>
			</div>
			 <p class="text-center">
				<a href="/">首页</a>
			</p>
		</form>
    <p class="text-center mt-3"><!--{template common/copyright}--></p>
  </div>
    <div class="login-right p-5 d-none d-sm-block">
      <p class="mb-3"><img src="{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}" alt="logo" /></p>
      <!--{if $_G[setting][loginset][subtitle]}--><p class="text-white">$_G[setting][loginset][subtitle]</p><!--{/if}-->
      <!--{if $_G[setting][metadescription]}--><p class="text-white align-self-end">$_G[setting][metadescription]</p><!--{/if}-->
    </div>
</div>
</div>
<script type="text/javascript" src="user/scripts/register.js?{VERHASH}"></script>
<script type="text/javascript">
	function validate(form) {
		if(document.getElementById('newpasswd1').value == '') {
			document.getElementById('newpasswd1').focus();
			return false;
		} else if(document.getElementById('newpasswd2').value == '') {
			document.getElementById('newpasswd2').focus();
			return false;
		} else if(document.getElementById('newpasswd1').value != document.getElementById('newpasswd1').value) {
			document.getElementById('newpasswd2').focus();
			return false;
		}
		return true;
	}
	var strongpw = new Array();
	<!--{if $_G['setting']['strongpw']}-->
	<!--{loop $_G['setting']['strongpw'] $key $val}-->
	strongpw[$key] = $val;
	<!--{/loop}-->
	<!--{/if}-->
	var pwlength = <!--{if $_G['setting']['pwlength']}-->$_G['setting']['pwlength']<!--{else}-->0<!--{/if}-->;
		checkPwdComplexity(document.getElementById('newpasswd1'), document.getElementById('newpasswd2'));
</script>
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->