<!--{template common/header_simple}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.min.css">
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<!--{template common/beijing}-->
<style>
.signin-form .has-feedback {
    position: relative;
}
.signin-form .has-feedback .form-control {
    padding-left: 36px;
}
.signin-form .has-feedback .mdi {
    position: absolute;
    top: 0;
    left: 5px;
    right: auto;
    width: 26px;
    height: 36px;
    line-height: 36px;
    z-index: 4;
    display: block;
    text-align: center;
    pointer-events: none;
}
	html, body{
		overflow:auto;
	}
	<!--{if $_G[setting][loginset][transparency]}-->
	.card{
		background-color:$_G[setting][loginset][transparency];
	}
	.card:hover{
		background-color:$_G[setting][loginset][transparency];
	}
	<!--{/if}-->
</style>
<script type="text/javascript" src="user/scripts/login.js?{VERHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<body class="center-vh">
<div class="card card-shadowed p-5 mb-0 mr-2 ml-2">
  <div class="text-center mb-3">
  	<img alt="light year admin" src="{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}">
		<h1><!--{if $_G[setting][loginset][title]}-->$_G[setting][loginset][title]<!--{else}-->$_G[setting][sitename]<!--{/if}--></h1>
  </div>
  <form action="user.php?mod=login&op=logging&action=login&loginsubmit=yes{if !empty($_GET['handlekey'])}&handlekey=$_GET[handlekey]{/if}{if isset($_GET['frommessage'])}&frommessage{/if}&loginhash=$loginhash" method="post" class="signin-form needs-validation" name="login" id="loginform_$loginhash" role="form" onsubmit="{if $_G['setting']['pwdsafety']}pwmd5('password3_$loginhash');{/if}pwdclear = 1; loginsub('loginform_$loginhash', 'returnmessage_$loginhash');return false;">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
    <input type="hidden" name="referer" value="{$referer}" />
    <!--{if $auth}-->
    <div class="mb-3 has-feedback">
      <input type="hidden" class="form-control" name="auth" value="$auth" required/>
    </div>
    <!--{else}-->
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-account" aria-hidden="true"></span>
      <input type="text" class="form-control" id="email_$loginhash" name="email" autocomplete="off" placeholder="{lang email_username}" required/>
    </div>
    <div class="mb-3 has-feedback">
			<span class="mdi mdi-lock" aria-hidden="true"></span>
      <input type="password" class="form-control" id="password3_$loginhash" name="password" onfocus="this.type='password'" autocomplete="off" placeholder="{lang user_login_password}" required/>
    </div>
    <!--{/if}-->
    <!--{if $seccodecheck}-->
		<div class="mb-3 has-feedback">
    <!--{template common/seccheck}--> 
    </div>
    <!--{/if}-->

    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="cookietime_$loginhash" name="cookietime" type="checkbox" value="2592000" $cookietimecheck>
        <label class="form-check-label not-user-select" for="cookietime_$loginhash">记住我？</label>
				<!--{if !$_G['setting']['bbclosed']}--><a href="user.php?mod=login&op=logging&action=lostpasswd" class="text-indigo-400 hover:text-blue-500">忘记密码？</a><!--{/if}-->
      </div>
    </div>
		<div class="mb-3 d-grid">
			<button class="btn btn-round btn-primary" name="loginsubmit" type="submit">立即登录</button>
			<a class="btn btn-round btn-success" href="admin.php">管理员登录</a>
		</div>
		<p class="error-msg text-center" id="returnmessage_$loginhash"><!--{if $_G[setting][bbclosed]}-->{lang site_closed_please_admin}<!--{/if}--></p>
		<!--{if !$_G['setting']['bbclosed']}-->
		<!--{if $_G['setting']['regstatus']>0}--> 
		<p class="text-center">
			<span>还没有账号？</span>
			<a href="user.php?mod=register&referer={eval echo urlencode($referer);}" <!--{if !empty($_GET['inajax'])}-->onclick="_login.register($referer);return false;"<!--{/if}--> title="$_G['setting']['reglinkname']">$_G['setting']['reglinkname']</a>
		</p>
		<!--{/if}-->
		<!--{if $_G['setting']['qq_login']>0}-->
		<p class="text-center"><a href="user.php?mod=qqlogin" title="{lang qq_login}"><i class="mdi mdi-qqchat"></i></a></p>
		<!--{/if}-->
		<!--{/if}-->
  </form>
  <p class="text-center text-muted mb-0"><!--{template common/copyright}--></p>
</div>
<!--{if $_G['setting']['pwdsafety']}--> 
<script type="text/javascript" src="user/scripts/md5.js?{VERHASH}" reload="1"></script> 
<!--{/if}--> 
<script type="text/javascript">
var pwdclear = 1;
function initinput_login() {
	document.body.focus();
	<!--{if !$auth}-->
		if(document.getElementById('loginform_$loginhash')) {
			document.getElementById('loginform_$loginhash').email.focus();
		}
	<!--{/if}-->
}

function clearpwd() {
	if(pwdclear) {
		document.getElementById('password3_$loginhash').value = '';
	}
	pwdclear = 0;
}
jQuery(document).ready(function(e) {

	initinput_login();
	
	if(jQuery('.ie8,.ie9').length){ //ie8模拟placeholder;
		jQuery(':input[placeholder]').each(function(){
			jQuery(this).placeholder();
		});
	}
});

</script> 
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->