<!--{if empty($_GET['inajax'])}-->
<!--{template common/header_common}-->
<!--{if $_G[setting][loginset][lwaveanimation]}--><link rel="stylesheet" type="text/css" href="static/css/animate.min.css?{VERHASH}"><!--{/if}-->
<link rel="stylesheet" type="text/css" href="static/dzzicon/materialdesignicons.min.css?{VERHASH}">
<script src="user/scripts/login.js?{VERHASH}" type="text/javascript"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<!--{template common/beijing}-->
<style>
	<!--{if $_G[setting][loginset][kbcolor]}-->
	.card{
		background-color:$_G[setting][loginset][kbcolor];
	}
	<!--{/if}-->
  <!--{if $_G[setting][loginset][transparency]}-->
	.form-control{
		background-color:$_G[setting][loginset][transparency];
	}
	<!--{/if}-->
</style>
<!--{template common/beijing}-->
<div class="center-vh overflow-auto">
<div class="card card-shadowed p-5 mb-0 mr-2 ml-2<!--{if $_G[setting][loginset][lwaveanimation]}--> wave wave-animate-slow<!--{/if}-->" id="lostpw_container_$loginhash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="text-center mb-3">
		<img alt="light year admin" src="<!--{if !$_G['setting']['bbclosed']}-->{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'static/image/common/logo.png';}<!--{else}-->static/image/common/logo.png<!--{/if}-->" style="max-height: 60px;">
		<h1>{lang getpassword}</h1>
  </div>
	<!--{if !empty($_GET['inajax'])}--><button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button><!--{/if}-->
	<div class="Mbody">
		<p class="text-center">{lang lostpassword_tip}</p>
    <form method="post" autocomplete="off" id="lostpwform_$loginhash" role="form"  onsubmit="lostpass('lostpw_container_$loginhash','lostpwform_$loginhash','returnmessage3_$loginhash');return false;" action="user.php?mod=login&op=logging&action=lostpasswd" class="signin-form needs-validation">
      <input type="hidden" name="formhash" value="{FORMHASH}" />
      <input type="hidden" name="lostpwsubmit" value="true" />
      <input type="hidden" name="handlekey" value="lostpw_$loginhash" />
      <div class="mb-3 has-feedback">
        <span class="mdi mdi-email" aria-hidden="true"></span>
        <input type="text" class="form-control" name="email" id="lostpw_email"  value=""  placeholder="{lang fill_your_login_email}" required/>
      </div>
      <div class="mb-3 has-feedback">
        <span class="mdi mdi-account" aria-hidden="true"></span>
        <input type="text" class="form-control" name="username" id="lostpw_username"  value=""  placeholder="{lang names_fill_registration}" required/>
      </div>
      <div class="mb-3 d-grid">
        <button type="submit" class="btn btn-round btn-primary" name="loginsubmit" value="true">{lang sure_find}</button>
        <a href="user.php?mod=login" onclick="try{_login.logging();return false}catch(e){return true}" class="btn btn-round btn-danger" title="{lang back_login}">{lang back_login}</a>
      </div>
      <p class="text-danger text-center" id="returnmessage3_$loginhash"></p>
    </form> 
  </div>
	<div class="modal-footer" style="display:none;">
    <button type="button" class="btn btn-round btn-primary toMail" >{lang now_your_email}</button>
    <button type="button" class="btn btn-outline-info" onclick="location.href='$_G[siteurl]'">{lang back_homepage}</button>
  </div>
  <p class="text-center mb-0 text-white"><!--{template common/copyright}--></p>
</div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(e) {
    jQuery('#lostpw_email').focus();
        if(jQuery('.ie8').length){ //ie8模拟placeholder;
      jQuery(':input[placeholder]').each(function(){
        jQuery(this).placeholder();
      });
    }
    });
</script>
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->
<!--{/if}-->