<!--{if empty($_GET['inajax'])}-->
<!--{template common/header_simple}-->
<link href="static/css/dlzc.css?{VERHASH}" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="static/js/jquery.placeholder.js" type="text/javascript"></script>
<![endif]-->
<script type="text/javascript" src="user/scripts/login.js?{VERHASH}"></script>
<!--{eval $loginhash = 'L'.random(4);}-->
<!--{if !empty($_GET['inajax'])}--><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><!--{/if}-->
<div class="relative min-h-screen flex" id="lostpw_container_$loginhash">
  <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
      <div class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-purple-900 text-white bg-no-repeat bg-cover relative"<!--{if $_G['setting']['loginset']['img']}--> style="background-image: url($_G['setting']['loginset']['img'])"<!--{/if}-->>
          <div class="absolute bg-gradient-to-b opacity-75 inset-0 z-0" style="<!--{if !$_G['setting']['loginset']['img']}-->--tw-gradient-from: #4f46e5;--tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to, rgba(79, 70, 229, 0));<!--{/if}-->--tw-gradient-to:<!--{if $_G['setting']['loginset']['bcolor']}-->$_G['setting']['loginset']['bcolor']<!--{else}-->#3b82f6<!--{/if}-->"></div>
          <div class="w-full max-w-md z-10">
						<!--{if $_G[setting][loginset][title]}--><div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">$_G[setting][loginset][title]<!--{/if}--></div>
            <!--{if $_G[setting][loginset][subtitle]}--><div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6">$_G[setting][loginset][subtitle]</div><!--{/if}-->
            <!--{if $_G[setting][metadescription]}--><div class="sm:text-sm xl:text-md text-gray-200 font-normal">$_G[setting][metadescription]</div><!--{/if}-->
          </div>
          <!--{if !$_G['setting']['loginset']['img']}-->
          <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
          </ul>
          <!--{/if}-->
      </div>
      <div class="md:flex md:items-center md:justify-center w-full sm:w-auto md:h-full w-2/5 xl:w-2/5 p-8 md:p-10 lg:p-14 sm:rounded-lg md:rounded-none  bg-white">
          <div class="max-w-md w-full mx-auto space-y-8">
            <div class="flex flex-row justify-center items-center space-x-3">
              <!--{if $_G['setting']['sitelogo']}-->
              <img src="{eval echo $_G['setting']['sitelogo']?'index.php?mod=io&op=thumbnail&size=small&path='.dzzencode('attach::'.$_G['setting']['sitelogo']):'';}">
              <!--{else}-->
              <img src="static/image/common/logo.png">
              <!--{/if}-->
              </div>
						<div class="sm:text-4xl xl:text-5xl font-bold leading-tight mb-6 text-center Mtitle">
                {lang getpassword}
            </div>
						<div class="Mbody">
              <form class="mt-8 space-y-6" method="post" autocomplete="off" id="lostpwform_$loginhash" role="form"  onsubmit="lostpass('lostpw_container_$loginhash','lostpwform_$loginhash','returnmessage3_$loginhash');return false;" action="user.php?mod=login&op=logging&action=lostpasswd">
                <input type="hidden" name="formhash" value="{FORMHASH}" />
                <input type="hidden" name="lostpwsubmit" value="true" />
                <input type="hidden" name="handlekey" value="lostpw_$loginhash" />
                  <div class="relative">
                      <input class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" type="text" name="email" id="lostpw_email"  value=""  placeholder="{lang fill_your_login_email}"/>
                  </div>
                  <div class="relative">
                    <input class="w-full text-base px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500" type="text" name="username" id="lostpw_username"  value=""  placeholder="{lang names_fill_registration}"/>
                  </div>
                  <div>
                    <button type="submit" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600 hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500" name="lostpwsubmit" value="true">{lang sure_find}</button>
                  </div>
                  <p class="error-msg text-center" id="returnmessage3_$loginhash"></p>
                </form>
            </div>
						<div class="modal-footer" style="display:none;">
              <button type="button" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600 hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500 toMail">{lang now_your_email}</button>
            </div>
						<p class="items-center justify-center mt-10 text-center text-md text-gray-500">
              <span>需要返回？</span>
              <a href="user.php?mod=login" onclick="try{_login.logging();return false}catch(e){return true}" class="text-indigo-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300" title="{lang back_login}">{lang back_login}</a>
            </p>
            <div class="w-full max-w-md z-10">
              <div class="sm:text-sm xl:text-md text-gray-200 font-normal text-center"><!--{template common/copyright}--></div>
            </div>
          </div>
      </div>
  </div>
</div>
<div class="modal-footer" style="display:none;">
  <button type="button" class="btn btn-primary toMail" >{lang now_your_email}</button>
  <button type="button" class="btn btn-default toIndex" onclick="location.href='$_G[siteurl]'">{lang back_homepage}</button>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(e) {
    jQuery('#lostpw_email').focus();
        if(jQuery('.ie8').length){ //ie8模拟placeholder;
      jQuery(':input[placeholder]').each(function(){
        jQuery(this).placeholder();
      });
    }
    });
</script>
<script type="text/javascript" src="user/scripts/setbacksize.js?{VERHASH}"></script>
<!--{template common/footer}-->
<!--{/if}-->