@charset "utf-8";
/* CSS Document */
.site-logo>img{
	max-height:30px;
}
.site-name{
	line-height: 30px;
	padding-left:10px;
}
@media (max-width: 260px) {
	.site-name{
	display: none
}
}
.bs-main-container{
  background: none;
  background-size: cover;
	box-shadow:none;
}
.main-content{
	padding:0;
	height:100%;
	width: 100%;
	display:table;
}
.popup-index {
  margin: 0;
  padding: 0;
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}
.popup-index>li{
	margin:5px;
}
.popup-index>li .app-popup-li{
	padding: 10px;
	background-color: rgba(255,255,255,0.55);
}

.popup-index>li.ui-sortable-helper{
	border:1px solid transparent;
	opacity: 0.6;
}
.popup-index>li.ui-state-default{
	display: inline-block;
	border:1px solid #e1e1e1;
	height:170px;
	width:170px;
	margin:-16px 30px;
}

.popup-index>li .app-popup-li img {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
}
.popup-index>.popup-index-li:hover{
	border:1px solid transparent;
	
}
.popup-index>li .app-popup-li:hover img {
	opacity: 0.85;
	transform: scale(1.01);
}

.popup-index>li .app-popup-li .app-popup-li-appname {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 158px;
    padding: 0 5px;
    line-height: 30px;
    font-size: 18px;
    color: #333333;
}