.jstree-root{
	padding:5px 0 0 10px;
	line-height:24px;
}
/*重定义图标*/
.jstree-default a i{
  _filter: Alpha(opacity=80);
  opacity: 0.8;
}

.jstree-default .jstree-anchor>.jstree-themeicon {
	background-image:url(icons.png);
	width:24px;height:24px;margin:4px 0;
}
 .jstree-open .jstree-anchor>.jstree-icon-book{
	background-position:-4px -24px;
}
 .jstree-closed .jstree-anchor>.jstree-icon-book{
	background-position:-4px 0;
}

.jstree-leaf .jstree-anchor>.jstree-icon-book{
	background-position:-4px 0;
}
.jstree-node .jstree-anchor>.jstree-icon-file{
	background-position:-4px -48px;
}
