<!--{template lyear:header_simple_start}-->
<style>
	.overflow-auto{
		max-height: 80px;
	}
</style>
<!--{template lyear:header_simple_end}-->
<main class="bs-main-container lyear-scroll">
	<div class="container-fluid">
		<div class="card">
			<header class="card-header">
				<ul class="nav nav-pills">
					<!--{loop $systemlog_setting $mark $info}-->
						<!--{if $info[is_open]==1 }-->
						<li class="nav-item">
							<a hidefocus="true" class="nav-link <!--{if $operation==$mark }-->active<!--{/if}-->" href="{MOD_URL}&type=list&operation=$mark">{$info['title']}</a>
						</li>
						<!--{/if}-->
					<!--{/loop}-->  
				</ul>
			</header>
			<div class="card-body">
				<!--{if $list}-->
				<form id="cpform" action="{MOD_URL}&type=list&operation=$operation" class="form-horizontal" method="post" name="cpform">
					<input type="hidden" value="{FORMHASH}" name="formhash">
					<input type="hidden" name="lpp" value="$lpp">
					<input type="hidden" name="keyword" value="$keyword">
					<div class="table-responsive">
						<table class="table table-hover align-middle">
							<thead>
								<th>{lang operator}</th>
								<th style="width: 80px;">{lang usergroup}</th>
								<th>{lang ip}</th>
								<th style="width: 180px;">{lang time}</th>
								<th>{lang info}</th>
							</thead>
								<!--{loop $list $key $log}-->
								<tr>
									<td>$log[2]</td>
									<td>$log[3]</td>
									<td>$log[4]</td>
									<td>$log[1]</td>
									<td>
										<a href="javascript:;" onclick="togglecplog('{$key}')"><div class="overflow-auto">{eval echo cutstr($log[5], 200)}</div></a>
									</td>
								</tr>
								<thead id="cplog_{$key}" style="display:none">
									<td colspan="10">
										{lang loginfo}：<strong><code>$log[5]</code></strong>
										<br/>{lang visit}：<strong><code>$log[6]</code></strong>
										<br/>{lang from}：<strong><code>$log[7]</code></strong>
										<br/>{lang Equipment information}：<strong><code>$log[8]</code></strong></td>
								</thead>
								<!--{/loop}-->
						</table>
						<div class="float-start input-group" style="width:130px;">
							<span class="col-form-label">{lang logs_lpp}</span>
							<select class="form-select" style="margin:0;width:60px;" onchange="if(this.options[this.selectedIndex].value != '') {this.form.lpp.value = this.options[this.selectedIndex].value;this.form.submit(); }">
								<option value="10" $checklpp[10]> 10 </option>
								<option value="20" $checklpp[20]> 20 </option>
								<option value="40" $checklpp[40]> 40 </option>
								<option value="80" $checklpp[80]> 80 </option>
							</select>
						</div>
						$multipage
				</div>
				</form>
				<!--{else}-->
				<div class="text-center">
					<img src="static/image/common/no_list.png" /><br>
					<span class="lead">{lang there_no_such_results}…</span>
				</div>
				<!--{/if}--> 
			</div>
		</div>
	</div>
</main>
<script type="text/javascript">
	function togglecplog(k) {
		var cplogobj = document.getElementById('cplog_' + k);
		if(cplogobj.style.display == 'none') {
			cplogobj.style.display = '';
		} else {
			cplogobj.style.display = 'none';
		}
	}
</script>
<!--{template lyear:footer_simple}-->