<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='edit'}-->active<!--{/if}-->" href="{MOD_URL}&op=edit&bz=$bz"> {lang set}</a>
  </li>
  <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='space' || $_GET[op]=='spaceadd'}-->active<!--{/if}-->" href="{MOD_URL}&op=space">{lang space_management}</a>
  </li>
  <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='router' || $_GET[op]=='routeredit'}-->active<!--{/if}-->" href="{MOD_URL}&op=router">{lang routing_management}</a>
  </li>
  <li class="nav-item"><a class="nav-link <!--{if $_GET[op]=='movetool'}-->active<!--{/if}-->" href="{MOD_URL}&op=movetool">{lang migration_tool}</a>
  </li>
</ul>