<!--{if $filter=='new'}-->
    <div class="popbox-header text-center">
        <h3>{lang app_notice}</h3>
      </div>
      <div class="popbox-body notification-list" style="min-width:300px;max-height:400px;overflow:auto;margin: 0;">
        <!--{if $list}-->
            <!--{loop $list $value}-->
            <div class="card notification-list-item clearfix">
                <div class="member member-no-menu">
                  <a class="member-avatar" href="user.php?uid=$value[authorid]" title="$value[author]" hidefocus="true">{eval echo avatar_block($value[authorid]);}</a>
                </div>
                <div class="details">
									<!--{if $value[title]}-->
                  <p class="note u-title" >$value[title]</p>
                  <!--{/if}-->
                  <!--{if $value[note]}-->
                  <p class="note u-bottom" >$value[note]</p>
                  <!--{else}-->
                  <p class="note u-bottom" >无内容</p>
                  <!--{/if}-->
                  <p class="dateline u-bottom text-muted">$value[dateline]</p>
                </div>
            </div>
            <!--{/loop}-->
        <!--{else}-->
        <p class="text-center">{lang noapp_notice}</p>
        <!--{/if}-->
      </div>
     <div class="popbox-footer">
     	<a href="{DZZSCRIPT}?mod=system&op=notification" class="btn btn-outline-primary">{lang lookallapp_notice}</a>
     </div>    
	<script type="text/javascript" reload="1">
		try{_notice.showTips(0);}catch(e){}
	</script>
<!--{/if}-->