<!--{loop $voteuser $value}-->
<div class="pull-left">
    <a href="user.php?uid=$value['uid']" title="admin" hidefocus="true" target="_blank">{eval echo avatar_block($value['uid']);}</a>
</div>
<!--{/loop}-->
<!--{if $nextpage>0}-->
<div class="pull-left">
	<a href="javascript:;" title="{lang upload_more}" class="avatar-font-small img-circle" style="text-indent:0;line-height:20px;" onclick="voteuser_getNext(this,'{$theurl}');return false">...</a>
</div>
<script type="text/javascript">
	function voteuser_getNext(obj, url) {
		jQuery.get(url, function(html) {
			jQuery(obj).parent().replaceWith(html);
		});
	}
</script>
<!--{/if}-->