@charset "utf-8";
/* CSS Document */
.module-list-view {
	margin: 0;
	font-size:13px;
}
.module-list-view .title {
	border: 1px solid #ebeef5;
	background: #F7F7F7;
  border-radius:  var(--radius);
  margin-top: 5px;
}
.module-list-view .title .asc {
	background: url(sort_asc.gif) no-repeat;
	display: inline-block;
	width: 13px;
	height: 6px;
	position: relative;
	top: 1px;
	visibility: hidden;
	_vertical-align: middle;
	_margin: 15px 0;
}

.module-list-view .title .desc {
	background: url(sort_desc.gif) no-repeat;
}
.module-list-view .item {
	border-bottom: 1px solid #e1e1e1;
	border-top:1px solid #FFF;
	display: flex
}
.module-list-view .item:first{
	border-top:0;
}
.module-list-view .title .item {
	border-bottom: 1px solid transparent;
}
.module-list-view .item-hover {
	background-color: #f0f8fd;
}
.module-list-view .item-active {
	background-color: #f2f7ff;
}
.module-list-view .title .col {
	height: 41px;
	line-height: 41px;
	cursor: pointer;
	_overflow: hidden;
}
.module-list-view .title .col:hover {
	background-color: #E8F5FD;
}
.module-list-view .col {
	float: left;
	display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
	padding: 5px;
}
.module-list-view .title .col {
	height: 41px;
	line-height: 41px;
	cursor: pointer;
	_overflow: hidden;
}
.module-list-view .c1 {
	position: relative;
	text-align: left;
	top: 0;
	overflow: visible;
}
